{{ govukTable({
  captionClasses: "govuk-table__caption--s",
  firstCellIsHeader: false,
  head: [
    {
      text: "Country",
      classes: "govuk-!-width-three-quarters"
    },
    {
      text: "Price",
      classes: "govuk-!-width-one-quarter"
    }
  ],
  rows: [
    [
      {
        text: "UK (including British Forces Post Office)"
      },
      {
        text: "£5 per 1.5kg"
      }
    ],
    [
      {
        text: "European countries (not including Albania, Armenia,
          Azerbaijan, Bosnia and Herzegovina, Georgia, Liechtenstein, Kazakhstan, Moldova, Montenegro,
          North Macedonia, Serbia and Turkey)"
      },
      {
        text: "£17.50 per 1.5kg"
      }
    ],
    [
      {
        text: "Rest of the world"
      },
      {
        text: "£22.50 per 1.5kg"
      }
    ]
  ]
}) }}
