{% extends "layout.html" %}

{% block pageTitle %}
  Check your answers before paying for your application
{% endblock %}

{% block beforeContent %}
<div class="flex-space-between">
	{{ govukBackLink({
	text: "Back",
	href: "/application/eApp/user-reference"
	}) }}
</div>

{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters-from-desktop">

  <h1 class="govuk-heading-xl">
    Check your answers before submitting your application
  </h1>

	  <h2 class="govuk-heading-m">
		  Uploaded PDF files
	  </h2>
	  <dl class="govuk-summary-list govuk-!-margin-bottom-9">
		  <div class="govuk-summary-list__row">
			  <dt class="govuk-summary-list__key">
				  <ul class="govuk-list">

				      {% for document in data.documents %}
				          <li>{{document}}</li>
				      {% endfor %}
			  </ul>
			  </dt>
			  <dd class="govuk-summary-list__actions">
				  <a class="govuk-link" href="/application/eApp/upload-documents">
					  Change<span class="govuk-visually-hidden"> files</span>
				  </a>
			  </dd>
		  </div>
	  </dl>

	  <h2 class="govuk-heading-m">
		  Reference
	  </h2>
    {% if data['user-reference'] %}
  	  {{ govukSummaryList({
  		  classes: 'govuk-!-margin-bottom-9',
  		  rows: [
  			  {
  				  key: {
  				  	text: 'Your reference'
  				  },
  				  value: {
  				  	text: data['user-reference']
  				  },
  				  actions: {
  					  items: [
  						  {
  							  href: "/application/eApp/user-reference",
  							  text: "Change",
  							  visuallyHiddenText: "your reference"
  						  }
  					  ]
  				  }
  			  }
  		  ]
  	  })
  	  }}
    {% else %}
      {{ govukSummaryList({
        classes: 'govuk-!-margin-bottom-9',
        rows: [
          {
            key: {
              text: 'Your reference'
            },
            value: {
              text: "Not specified"
            },
            actions: {
              items: [
                {
                  href: "/application/eApp/user-reference",
                  text: "Change",
                  visuallyHiddenText: "your reference"
                }
              ]
            }
          }
        ]
      })
      }}
    {% endif %}

	  <h2 class="govuk-heading-m">
		  Cost
	  </h2>
	  <dl class="govuk-summary-list govuk-!-margin-bottom-9">
		  <div class="govuk-summary-list__row">
			  <dt class="govuk-summary-list__key">
				  Total cost
          {% if data.noOfDocs == 1 %}
          <p>for {{data.noOfDocs}} uploaded PDF</p>
          {% else %}
          <p>for {{data.noOfDocs}} uploaded PDFs</p>
          {% endif %}
			  </dt>
			  <dd class="govuk-summary-list__value">
				  {{data.cost | formatCurrency}}
			  </dd>
		  </div>
	  </dl>

    {{ govukButton({
        text: "Continue",
        href: "/application/eApp/payment-page"
    }) }}

  </div>
</div>


{% endblock %}
