{% extends "layout.html" %}

{% block pageTitle %}
  e-Apostille verified
{% endblock %}

{% block beforeContent %}
{{ govukBackLink({
  text: "Back",
href: "/verify/VerifyEApostille"
}) }}
{% endblock %}

{% block content %}

<h1 class="govuk-heading-l">e-Apostille verified</h1>

{{ govukTable({
  caption: "Apostille details",
  captionClasses: "govuk-table__caption--m govuk-visually-hidden",
  firstCellIsHeader: true,
  rows: [
    [
      {
        text: "Apostille number"
      },
      {
        text: "APO-1234567"
      }
    ],
[
{
text: "Date issued"
},
{
text: "12th February 2021"
}
],
    [
      {
        text: "Verification code"
      },
      {
        text: "ABCD-1234-EFGH-5678"
      }
    ],
    [
      {
        text: "Has been digitally signed by"
      },
      {
        text: "Joesephine Bloggs-Smyth"
      }
    ],
    [
      {
        text: "Acting in capacity of"
      },
      {
        text: "Notary public"
      }
    ],
    [
      {
        text: "Bears the stamp / seal of"
      },
      {
        text: "The said notary public"
      }
    ],
    [
      {
        text: "Issued by"
      },
      {
        text: "L. Egal Officer"
      }
    ]
  ]
}) }}

<p>
  All electronic Apostilles (e-Apostilles) issued by the Legalisation Office will be in PDF format. The PDF file will bear a digital signature from ‘FCDO Legalisation Office’.  It will contain an instructions page with two PDF files attached.
</p>
<p>
The first PDF attachment will be the Apostille (legalisation certificate) and will bear the same digital signature of ‘FCDO Legalisation Office’. The details shown on the Apostille will match those shown above.
</p>
<p>
The second PDF attachment will be the public document the Apostille relates to and will be digitally signed by the person shown in the ‘Has been digitally signed by’ section above.
</p>

<p>
{{ govukButton({
  text: "Start again",
  href: "/verify/WhatTypeOfApostille"
}) }}
</p>
<p>
{{ govukButton({
  text: "Print",
  classes: "govuk-button--secondary"
}) }}
</p>
{% endblock %}
