{% extends "layout.html" %}

{% block pageTitle %}
  Verify an Apostille
{% endblock %}

{% block beforeContent %}
{{ govukBackLink({
  text: "Back",
href: "/verify/WhatTypeOfApostille"
}) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">Verify an Apostille</h1>

      <form action="/verify/VerifyPaper/form-handler" method="post" novalidate>

		  {{ govukInsetText({
		  text: "The date and Apostille number can be found on the Apostille certificate."
		  }) }}

        {{ govukDateInput({
          id: "issuedate",
          namePrefix: "issuedate",
          fieldset: {
            legend: {
              text: "What is the date of the Apostille?",
              classes: "govuk-fieldset__legend--m"
            }
          },
          hint: {
            text: "For example, 31 3 1980"
          }
        }) }}

        {{ govukInput({
          label: {
            text: "What is the Apostille number?",
            classes: "govuk-label--m"
          },
          hint: {
            text: "For example, A090123 or APO-123"
          },
          classes: "govuk-input--width-10",
          id: "apostillenumber",
          name: "apostillenumber"
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>
    </div>
  </div>
{% endblock %}
