{% extends "layout.html" %}

{% block pageTitle %}
  Verify an Apostille
{% endblock %}

{% block beforeContent %}
{{ govukBackLink({
  text: "Back",
href: "/verify/index.html"
}) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">Apostille details</h1>

      <form action="/verify/VerifyApostille/form-handler" method="post" novalidate>

		  {{ govukInsetText({
		  text: "These details can be found on the Apostille certificate."
		  }) }}

        {{ govukDateInput({
          id: "issuedate",
          namePrefix: "issuedate",
          fieldset: {
            legend: {
              text: "Apostille date",
              classes: "govuk-fieldset__legend--m"
            }
          },
          hint: {
            text: "For example, 31 3 2020"
          }
        }) }}

        {{ govukInput({
          label: {
            text: "Apostille number",
            classes: "govuk-label--m"
          },
          hint: {
            text: "For example, A090123 or APO-1234567 or APO-ABCD-1234-EFGH-5678"
          },
          classes: "govuk-input--width-10",
          id: "apostillenumber",
          name: "apostillenumber"
        }) }}

        {{ govukButton({
          text: "Verify"
        }) }}

      </form>
    </div>
  </div>
{% endblock %}
