{% extends "layout.html" %}

{% block pageTitle %}
Choose a service
{% endblock %}

{% block beforeContent %}

<div class="flex-space-between">
{{ govukBackLink({
text: "Back",
href: "/application"
}) }}
	<a href="/application/sign-in">Sign in</a>
</div>
{% endblock %}

{% block content %}
<form action="/application/3-which-service/form-handler" method="post">
<div class="govuk-grid-row">
	<div class="govuk-grid-column-three-quarters-from-desktop">
		<div class="govuk-form-group">
			<fieldset class="govuk-fieldset" aria-describedby="sign-in-hint">
				<legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
					<h1 class="govuk-fieldset__heading">
						Choose a service
					</h1>
				</legend>
				<p class="govuk-body">With both the standard paper-based and electronic (e-Apostille) services you will:</p>
				<ul class="govuk-list govuk-list--bullet">
					<li>Apply and pay online</li>
					<li>Pay £30 (debit or credit card) for each Apostille certificate</li>
					<li>Get your application processed within 2 working days *</li>
				</ul>
				{{ govukInsetText({
					text: "Account for courier or postage time and costs if you choose the paper-based service."
				}) }}
				<p class="govuk-body">* Processing time may exceed 2 working days if the Legalisation Office has questions about your application.</p>


				<div class="govuk-radios">
					<div class="govuk-radios__item">
						<input class="govuk-radios__input" id="standard" name="service" type="radio"
							   value="standard-service" aria-describedby="standard-item-hint">
						<label class="govuk-label govuk-radios__label" for="standard">
							<span class="govuk-heading-m">
								Standard service (paper-based)
							</span>
						</label>
						<div id="standard-item-hint" class="govuk-hint govuk-radios__hint">
							<ul class="govuk-list govuk-list--bullet">
								<li>Send in your signed documents by courier or post</li>
								<li>Get legalised documents (with paper Apostilles) returned to you or the overseas authority by courier or post</li>
								<li>Share your legalised paper documents with an authority, for example by post/courier</li>
								<li>You will get a coversheet at the end of the application. You will need to print or write down some of the details</li>
								<li>Account optional</li>
							</ul>
							{{ govukDetails({
								summaryText: "Courier and postage costs",
								html: '
									<table class="govuk-table">
										<caption class="govuk-table__caption govuk-table__caption--m">Courier costs</caption>
										<thead class="govuk-table__head">
											<tr class="govuk-table__row">
												<th scope="col" class="govuk-table__header govuk-!-width-three-quarters">Country</th>
												<th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Price</th>
											</tr>
										</thead>
										<tbody class="govuk-table__body">
												<tr class="govuk-table__row">
												<th scope="row" class="govuk-table__header">UK (including British Forces Post Office)</th>
												<td class="govuk-table__cell">£5 per 1.5kg</td>
											</tr>
											<tr class="govuk-table__row">
												<th scope="row" class="govuk-table__header">European countries (not including Albania, Armenia,
													Azerbaijan, Bosnia and Herzegovina, Georgia, Liechtenstein, Kazakhstan, Moldova, Montenegro,
													North Macedonia, Serbia and Turkey)</th>
												<td class="govuk-table__cell">£17.50 per 1.5kg</td>
											</tr>
											<tr class="govuk-table__row">
												<th scope="row" class="govuk-table__header">Rest of the world</th>
												<td class="govuk-table__cell">£22.50 per 1.5kg</td>
											</tr>
										</tbody>
									</table>

									<h3 class="govuk-heading-m">
										If you do not want to pay courier fees
									</h3>
									<p class="govuk-body">Your documents will be returned by courier but if you’re in the UK you can have them
										returned by post. You must include an A4-sized envelope with the return address written on it. Attach
										enough UK postage stamps to cover the return postage.
										</p>'
							}) }}
						</div>
					</div>
					<div class="govuk-radios__item">
						<input class="govuk-radios__input" id="e-apostille" name="service" type="radio"
								 value="eapostille-service" aria-describedby="eApp-item-hint">
						<label class="govuk-label govuk-radios__label" for="e-apostille">
							<span class="govuk-heading-m">
								e-Apostille service
							</span>
						</label>
						<div id="eapostille-item-hint" class="govuk-hint govuk-radios__hint">
							<ul class="govuk-list govuk-list--bullet">
								<li>Upload your documents as PDFs electronically signed by a UK notary or solicitor</li>
								<li>Download legalised documents (with e-Apostilles) as soon as they are ready</li>
								<li>Share legalised digital versions with an overseas authority, for example by email</li>
								<li>Account required</li>
							</ul>
						</div>
					</div>
					<div class="govuk-radios__item">
						<input class="govuk-radios__input" id="premiumService" name="service" type="radio"
							   value="premium-service" aria-describedby="premium-item-hint">
						<label class="govuk-label govuk-radios__label" for="premiumService">
							<span class="govuk-heading-m">
								Business-only premium service
							</span>
						</label>
						<div id="premium-item-hint" class="govuk-hint govuk-radios__hint">
							<p>We also offer a same-day London drop-off and collection for businesses only. £75 per Apostille issued. Account and company details required.</p>
							<p><a href="/application/guide#business-only-premium-service">Find out more about business-only premium.</a></p>
						</div>
					</div>
				</div>
			</fieldset>
		</div>
		{{ govukButton({
		text: "Continue"
		}) }}
	</div>
</div>
</form>
{% endblock %}
