{% extends "layout.html" %}

{% block pageTitle %}
  Pay for your application
{% endblock %}

{% block beforeContent %}
<div class="flex-space-between">
	{{ govukBackLink({
	text: "Back",
	href: "/application/9-check-your-answers"
	}) }}
</div>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters-from-desktop">

  <h1 class="govuk-heading-xl">
    Pay for your application
  </h1>

  <p class="govuk-body">You will now be taken to GOV.UK Pay, where you will be asked to provide your payment details.</p>
  <p class="govuk-body">Once you’ve provided your payment information your application will be submitted.</p>

  {{ govukButton({
      text: "Pay",
      href: "/application/11-payment-details"
  }) }}

</div>
</div>

{% endblock %}
