{% extends "layout.html" %}

{% block pageTitle %}
  Confirm your payment
{% endblock %}

{% block beforeContent %}
<div class="flex-space-between">
	{{ govukBackLink({
	text: "Back",
	href: "/application/10-pay-for-application"
	}) }}
</div>
{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">
          Confirm your payment
        </h1>

        <div class="govuk-!-padding-2" style="background-color: #f3f2f1">
          <h2 class="govuk-heading-m">
            Payment summary
          </h2>
          <div>
            <p class="govuk-body">Pay to get your documents legalised</p>
            <p class="govuk-body">Total amount:
            <br><span class="govuk-!-font-size-27"><strong>{{data.cost | formatCurrency}}</strong></span></p>
          </div>
        </div>

        {{ govukSummaryList({
          rows: [
            {
              key: {
                text: "Card number"
              },
              value: {
                text: "************1234"
              }
            },
            {
              key: {
                text: "Expiry date"
              },
              value: {
                text: "03/23"
              }
            },
            {
              key: {
                text: "Name on card"
              },
              value: {
                text: "Sam Bloggs-Smyth"
              }
            },
            {
              key: {
                text: "Billing address"
              },
              value: {
                text: '123 The Street, Biggle Town, Countyshire, AB1 2DE, United Kingdom'
              }
            },
            {
              key: {
                text: "Confirmation email"
              },
              value: {
                text: "yourname@example.com"
              }
            }
          ]
        }) }}

        {{ govukButton({
            text: "Pay",
            href: "/application/12-success"
        }) }}

          <p class="govuk-body">
            <a href="/application/10-pay-for-application">Cancel payment</a>
          </p>
      </div>
    </div>

{% endblock %}
