{% extends "layout.html" %}

{% block pageTitle %}
Application successfully submitted
{% endblock %}

{% block beforeContent %}
{% include "includes/my-account-nav.html" %}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters-from-desktop">


    <div class="govuk-panel govuk-panel--confirmation">
      <h1 class="govuk-panel__title">Application submitted</h1>
      <div class="govuk-panel__body">
        Your reference number
      </div>
      <div class="govuk-panel__body">
        <strong>A-D-21-0212-1234-ABCD</strong>
      </div>
    </div>

    <h2 class="govuk-heading-l">
      What happens next
    </h2>

    <p class="govuk-body">
      We will let you know by email when the legalised documents and eApostille will be available to download from your account.
    </p>

    <p class="govuk-body">
      Due to coronavirus (COVID-19) it currently takes up to 10 working days to issue an eApostille.
    </p>

    <p class="govuk-body">
      You have 21 days to download the PDFs once they have been made available on your account.
    </p>

    <p class="govuk-body">
      <a href="/application/2-your-account">View applications</a>
    </p>

    <p class="govuk-body">
      <a href="/application/3-which-service">Start new application</a>
    </p>

  </div>
</div>

{% endblock %}
