{% extends "layout.html" %}

{% block pageTitle %}
Your account
{% endblock %}

{% block beforeContent %}
{% include "includes/my-account-nav.html" %}
{% endblock %}

{% block content %}

<h1 class="govuk-heading-xl">
    Your account
</h1>

<div class="govuk-!-margin-bottom-4">
    {{ govukButton({
    text: "New application",
    href: "/application/3-which-service"
    }) }}
</div>

<h2 class="govuk-heading-m">
    Application history
</h2>

<form class="govuk-!-margin-bottom-5" style="position: relative;">
  <input
    class="govuk-input"
    id="search"
    style="width: 320px"
    name="search"
    type="search"
    spellcheck="false"
    aria-describedby="search-hint"
    autocomplete="email"
    placeholder="Search by reference or service"
  >
  <input
    class="submit-button"
    type="button"
    value="Search"
    style="position: absolute;"
  >
</form>

{{ govukTable({
firstCellIsHeader: false,
head: [
{
html: 'Date submitted'
},
{
html: 'Application reference'
},
{
html: 'Service'
},
{
text: "Application Status"
}
],
rows: [
[
{
text: "05-07-21"
},
{
html: '<a href="/application/A-D-21-0212-1234-ABCD-completed">A-D-21-0212-1234-ABCD</a>'
},
{
text: "e-Apostille"
},
{
text: "Ready to download"
}
],
[
{
text: "12-02-21"
},
{
html: '<a href="/application/A-C-21-0205-0343-5BEC-completed">A-C-21-0205-0343-5BEC</a>'
},
{
text: "e-Apostille"
},
{
text: "Ready to download"
}
]
]
}) }}

{% endblock %}
