{% extends "layout.html" %}

{% block pageTitle %}
  Applications
{% endblock %}

{% block beforeContent %}
{% include "includes/my-account-nav.html" %}
{% endblock %}

{% block content %}

<h1 class="govuk-heading-xl">
  Applications
</h1>

<div class="govuk-!-margin-bottom-4">
{{ govukButton({
  text: "New application",
  href: "/application/3-which-service",
  isStartButton: true
}) }}
</div>

<form class="govuk-!-margin-bottom-5" style="position: relative;">
  <input
    class="govuk-input"
    id="search"
    style="width: 320px"
    name="search"
    type="search"
    spellcheck="false"
    aria-describedby="search-hint"
    autocomplete="email"
    placeholder="Search by reference or service"
  >
  <input
    class="submit-button"
    type="button"
    value="Search"
    style="position: absolute;"
  >
</form>

{{ govukTable({
  firstCellIsHeader: false,
  head: [
    {
      html: '<a href="#">Submitted</a>'
    },
    {
      html: '<a href="#">Application reference</a>'
    },
    {
      html: '<a href="#">Your reference</a>'
    },
    {
      html: '<a href="#">Cost</a>'
    },
    {
      html: '<a href="#">Service</a>'
    },
    {
      html: 'Status'
    }
  ],
  rows: [
  [
    {
      text: "05-03-2022"
    },
    {
      html: '<a href="/application/A-D-21-0212-1234-ABCD">A-D-22-0212-1234-ABCD</a>'
    },
    {
      text: "220305/RJC"
    },
    {
      text: "£30.00"
    },
    {
      text: "e-Apostille"
    },
    {
      html: '<strong class="govuk-tag govuk-tag--blue">In progress</strong>'
    }
  ],
  [
    {
      text: "02-03-2022"
    },
    {
      html: '<a href="/application/A-D-21-0205-0343-5BEC-completed">A-D-22-0205-0343-5BEC</a>'
    },
    {
      text: "220302 JS"
    },
    {
      text: "£90.00"
    },
    {
      text: "e-Apostille"
    },
    {
      html: '<strong class="govuk-tag">Completed</strong><br>1 PDF rejected'
    }
  ],
  [
    {
      text: "12-02-2022"
    },
    {
      html: '<a href="/application/A-D-21-0212-5678-EFDH">A-D-22-0212-5678-EFDH</a>'
    },
    {
      text: "220212/HJS"
    },
    {
      text: "£60.00"
    },
    {
      text: "e-Apostille"
    },
    {
      html: '<strong class="govuk-tag">Completed</strong>'
    }
  ],
  [
    {
      text: "10-02-2022"
    },
    {
      html: '<a href="#">A-C-22-0205-0343-5BEC</a>'
    },
    {
      text: "220210/JSmith"
    },
    {
      text: "£35.00"
    },
    {
      text: "Standard"
    },
    {
      html: '<strong class="govuk-tag">Despatched</strong><br><a href="#">Tracking ref:<br>1234567890</a>'
    }
  ]
  ]
}) }}
<p class="govuk-body">
  Showing 1 – 4 of 4 applications submitted in the last 60 days
</p>

{% endblock %}
