{% extends "layout.html" %}

{% block pageTitle %}
  Your account
{% endblock %}

{% block beforeContent %}
{% include "includes/my-account-nav.html" %}
{% endblock %}

{% block content %}

<h1 class="govuk-heading-xl">
  Your account
</h1>

<div class="govuk-!-margin-bottom-4">
{{ govukButton({
  text: "New application",
  href: "/application/3-which-service",
  isStartButton: true
}) }}
</div>

<h2 class="govuk-heading-m">
  Applications
</h2>

<form class="govuk-!-margin-bottom-5" style="position: relative;">
  <input
    class="govuk-input"
    id="search"
    style="width: 320px"
    name="search"
    type="search"
    spellcheck="false"
    aria-describedby="search-hint"
    autocomplete="email"
    placeholder="Search by reference or service"
  >
  <input
    class="submit-button"
    type="button"
    value="Search"
    style="position: absolute;"
  >
</form>

{{ govukTable({
  firstCellIsHeader: false,
  head: [
    {
      html: '<a href="#">Date submitted</a>'
    },
    {
      html: '<a href="#">Application reference</a>'
    },
    {
      html: '<a href="#">Your reference</a>'
    },
    {
      html: '<a href="#">Cost</a>'
    },
    {
      html: '<a href="#">Service</a>'
    },
    {
      html: '<a href="#">Status</a>'
    }
  ],
  rows: [
  [
    {
      text: "02-05-2021"
    },
    {
      html: '<a href="/application/A-C-21-0205-0343-5BEC-completed">A-C-21-0205-0343-5BEC</a>'
    },
    {
      text: "Janice Simpson"
    },
    {
      text: "£90.00"
    },
    {
      text: "e-Apostille"
    },
    {
      html: '<strong class="govuk-tag">Completed</strong><p>1 PDF rejected</p>'
    }
  ],
  [
    {
      text: "12-02-2021"
    },
    {
      html: '<a href="/application/A-D-21-0212-5678-EFDH">A-D-21-0212-5678-EFDH</a>'
    },
    {
      text: "Simpson, H.J."
    },
    {
      text: "£60.00"
    },
    {
      text: "e-Apostille"
    },
    {
      html: '<strong class="govuk-tag">Completed</strong>'
    }
  ],
  [
    {
      text: "10-02-2021"
    },
    {
      html: '<a href="#">A-D-21-0212-9012-JKLM</a>'
    },
    {
      text: "Smith, J - 09/02"
    },
    {
      text: "£35.00"
    },
    {
      text: "Standard"
    },
    {
      html: '<strong class="govuk-tag">Completed</strong><p><a href="#">Tracking ref:<br>1234567890</a></p>'
    }
  ]
  ]
}) }}

{% endblock %}
