{% from "macros/document-search-form.njk" import searchForm %}
{% extends "layout.html" %}

{% block pageTitle %}
    Search and select your documents
{% endblock %}

{% block beforeContent %}
	{{ govukBackLink({
		text: "Back",
		href: "/application/2-search-for-documents"
	}) }}
{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-l">
                Search and select your<br/> documents
            </h1>
            {{ searchForm('degree certificate') }}

            {{ govukTable({
                classes: "govuk-!-margin-top-7",
                head: [
                    {
                    text: "Document"
                    },
                    {
                    text: "Actions"
                    }
                ],
                rows: [
                    [
                    {
                        text: "Degree certificate or transcript(UK)"
                    },
                    {
                        html: "<a href='#' class='govuk-!-font-weight-bold govuk-link--no-visited-state'>Select</a>"
                    }
                    ]
                ]
            }) }}
        </div>
    </div>

{% endblock %}
