{% from "macros/document-search-form.njk" import searchForm %}
{% extends "layout.html" %}

{% block pageTitle %}
    Search and select your documents
{% endblock %}

{% block beforeContent %}
	{{ govukBackLink({
		text: "Back",
		href: "/application/2a-search-for-documents-degree"
	}) }}
{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl">
                Search and select your<br/> documents
            </h1>
            {{ searchForm('degree certificate') }}

            {{ govukTable({
                classes: "govuk-!-margin-top-7",
                head: [
                    {
                    text: "Document"
                    },
                    {
                    text: "Actions"
                    }
                ],
                rows: [
                    [
                    {
                        text: "Degree certificate or transcript(UK)"
                    },
                    {
                        html: "<a href='/application/2a-search-for-documents-degree' class='govuk-!-font-weight-bold govuk-link--no-visited-state'>Remove</a>"
                    }
                    ]
                ]
            }) }}


            {{ govukTable({
                classes: "basket-table",
                head: [
                    {
                    text: "Selected documents"
                    },
                    {
                    text: "Quantity (1)"
                    }
                ],
                rows: [
                    [
                    {
                        html: "<p class='govuk-body govuk-!-margin-bottom-0'>Degree certificate or transcript (UK)</p><a href='/application/2a-search-for-documents-degree' class='govuk-link--no-visited-state'>Remove</a>"
                    },
                    {
                        html: "<input class='govuk-input quantity-input--width' type='text' value='1' />"
                    }
                    ]
                ]
            }) }}


            {{ govukButton({
                href: "/application/3-document-format",
                text: "Continue"
            }) }}

        </div>
    </div>

{% endblock %}
