{% extends "layout.html" %}

{% block pageTitle %}
  Choose a service
{% endblock %}

{% block beforeContent %}
<div class="flex-space-between">
	{{ govukBackLink({
	text: "Back",
	href: "/application/2-your-account"
	}) }}
	{% include "includes/my-account-nav.html" %}
</div>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters-from-desktop">
	  <div class="govuk-form-group">
		  <fieldset class="govuk-fieldset" aria-describedby="sign-in-hint">
			  <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
				  <h1 class="govuk-fieldset__heading">
					  Which service would you like?
				  </h1>
			  </legend>
			  <br />
			  <div class="govuk-radios">
				  <div class="govuk-radios__item">
					  <input class="govuk-radios__input" id="e-apostille" name="service" type="radio" value="government-gateway" aria-describedby="sign-in-item-hint">
					  <label class="govuk-label govuk-radios__label" for="e-apostille">
						  <span class="govuk-heading-m">
						  eApostille service
						  </span>
					  </label>
					  <div id="sign-in-item-hint" class="govuk-hint govuk-radios__hint">
						  <p class="govuk-body">This is a new service to issue an electronic apostille (eApostille). </p>
						  <p class="govuk-body">Check before you use this service if the apostille will be accepted in the country you wish to use it. We cannot issue a refund if the apostille is not accepted.</p>
						  <details class="govuk-details" data-module="govuk-details">
							  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      About the eApostille service
    </span>
							  </summary>
							  <div class="govuk-details__text">

								  <ul class="govuk-list govuk-list--bullet">
								  <li>the documents you wish to legalise must be certified and digitally signed by a notary</li>
								  <li>all documents must be uploaded as a PDF file (no bigger than 50MB per file)</li>
								  <li>if you need to legalise more than one document at the same time, you can upload them as a bundle by putting all documents in a single PDF</li>
								  <li>your legalised documents including an eApostille will be issued and made available to download from your account</li>
								  <li>due to coronavirus (COVID-19) it currently takes up to 10 working days for an electronic apostille to be available to download from your account</li>
								  <li>it costs £30 per eApostille issued</li>
						  </ul>
							  </div>
						  </details>
					  </div>
				  </div>
				  <div class="govuk-radios__item">
					  <input class="govuk-radios__input" id="standard" name="service" type="radio" value="government-gateway" aria-describedby="standard-item-hint">
					  <label class="govuk-label govuk-radios__label" for="standard">
						  <span class="govuk-heading-m">
						  Standard service
						  </span>
					  </label>
					  <div id="standard-item-hint" class="govuk-hint govuk-radios__hint">
						  <p class="govuk-body">
							  The standard service involves applying online and posting the documents you wish to legalise.</p>
						  <details class="govuk-details" data-module="govuk-details">
							  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      About the standard service
    </span>
							  </summary>
							  <div class="govuk-details__text">

								  <ul class="govuk-list govuk-list--bullet">
									  <li>you need to post the documents you wish to legalise to the Legalisation Office</li>
									  <li>your legalised documents and apostille will be returned to your chosen address by courier or post</li>
									  <li>due to coronavirus (COVID-19) it currently takes up to 10 working days to process your documents, plus courier or postage time</li>
									  <li>it costs £30 per document, plus courier fees or postage</li>
						  </ul>
					  </div>
				  </div>
			  </div>
		  </fieldset>
	  </div>
	  {{ govukButton({
	  text: "Continue",
	  href: "/application/4-check-documents"
	  }) }}
  </div>
</div>

{% endblock %}
