{% extends "layout.html" %}

{% block pageTitle %}
You need to use the standard service
{% endblock %}

{% block beforeContent %}
<div class="flex-space-between">
	{{ govukBackLink({
	text: "Back",
	href: "/application/4-check-documents"
	}) }}
	{% include "includes/my-account-nav.html" %}
</div>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters-from-desktop">

  <h1 class="govuk-heading-xl">
    You cannot use this service
  </h1>

  <p class="govuk-body">
		The e-Apostille service does not accept electronic versions of certain types of documents.
	</p>
	
	<p class="govuk-body">
		You can <a href="/application/standard-service-document-check">use the standard service instead.</a>
	</p>
  </div>
</div>


{% endblock %}
