{% extends "layout.html" %}

{% block pageTitle %}
Check the authority accepts e-Apostilles
{% endblock %}

{% block beforeContent %}

<div class="flex-space-between">
  {{ govukBackLink({
    text: "Back",
    href: "/application/4a-check-acceptance"
  }) }}

{% include "includes/my-account-nav.html" %}
</div>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters-from-desktop">
    <span class="govuk-caption-xl">e-Apostille suitability - 2 of 3</span>
		<h1 class="govuk-heading-l">
			Check the intended recipient accepts e-Apostilles
		</h1>
		<p class="govuk-body">
			Contact and ask the intended overseas recipient exactly what they need from you and if they will:
		</p>
		<ul class="govuk-list govuk-list--bullet indent-list">
			<li>accept digital documents with e-Apostille certificates</li>
			<li>require a separate e-Apostille for each document (if legalising more than one)</li>
			<li>accept documents electronically signed by a UK notary or solicitor, or only by a notary</li>
		</ul>
		<p class="govuk-body">
			Make sure they understand e-Apostilles are only valid in digital form as they contain unique electronic signatures.
		</p>

		{{ govukDetails({
			summaryText: "Why you need to check",
			html: '<p class="govuk-body">Under international agreement <a class="govuk-link" href="https://www.hcch.net/en/instruments/conventions/authorities1/?cid=41" rel="noreferrer noopener" target="_blank">countries that are signed up to the Apostille Convention (opens in new tab)</a> should equally accept e-Apostilles.<p>
			<p class="govuk-body">However, there are circumstances in which an intended recipient could reject an e-Apostille. For example, they could do this if they do not accept a digital version of the document the e-Apostille is attached to.</p>
			'
		}) }}

	  <form action="/application/4-check-documents/form-handler" method="post">
		<h2 class="govuk-fieldset__legend--m">Have you checked the intended recipient will accept e-Apostilles?</h2>
		{{ govukRadios({
			idPrefix: "eapostille-acceptable",
			name: "eapostille-acceptable",
			items: [
				{
					value: "yes",
					text: "Yes, they will accept e-Apostilles"
				},
				{
					value: "no",
					text: "No, I have not checked"
				}
			]
		}) }}
		{{ govukButton({
			text: "Continue"
		}) }}
	  </form>

  </div>
</div>


{% endblock %}
