{% extends "layout.html" %}

{% block pageTitle %}
  Check if your documents can be legalised
{% endblock %}

{% block beforeContent %}

<div class="flex-space-between">
  {{ govukBackLink({
    text: "Back",
    href: "/application/3-which-service"
  }) }}
{% include "includes/my-account-nav.html" %}
</div>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters-from-desktop">

  <h1 class="govuk-heading-xl">
    Check if your documents are eligible for the eApostille service
  </h1>

  <p class="govuk-body">We accept most types of documents if they have been
    certified by a notary.</p>

  <p class="govuk-body">You cannot use this eApostille service if your document is:</p>
	  <div class="govuk-!-margin-bottom-8">
  <ul class="govuk-list govuk-list--bullet">
    <li>issued by the General Register Office (GRO)</li>
    <li>ACRO police certificate for England and Wales</li>
    <li>Disclosure Barring Service (DBS) certificate for England and Wales</li>
    <li>disclosure certificate for Scotland</li>
    <li>disclosure certificate for Northern Ireland</li>
    <li>Association of Chartered Certified Accountants (ACCA) membership certificate</li>
    <li>fingerprint certificate</li>
    <li>certified by the British Council</li>
  </ul>
  </div>
	  <form action="/application/4-check-documents/form-handler" method="post">
	  {{ govukRadios({
	  classes: "govuk-radios--inline",
	  idPrefix: "documents-eligible",
	  name: "documents-eligible",
	  fieldset: {
	  legend: {
	  text: "Are your documents eligible for the eApostille service?",
	  isPageHeading: false,
	  classes: "govuk-fieldset__legend--m"
	  }
	  },
	  items: [
	  {
	  value: "yes",
	  text: "Yes"
	  },
	  {
	  value: "no",
	  text: "No"
	  }
	  ]
	  }) }}
    {{ govukButton({
        text: "Continue"
    }) }}
	  </form>

    <p class="govuk-body">
      <a href="#">Post documents using standard application</a>
    </p>

  </div>
</div>


{% endblock %}
