{% extends "layout.html" %}

{% block pageTitle %}
Check your documents are eligible
{% endblock %}

{% block beforeContent %}

<div class="flex-space-between">
  {{ govukBackLink({
    text: "Back",
    href: "/application/3a-before-you-apply"
  }) }}
{% include "includes/my-account-nav.html" %}
</div>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
	<div class="govuk-grid-column-three-quarters-from-desktop">
		<span class="govuk-caption-xl">e-Apostille suitability - 1 of 3</span>
		<h1 class="govuk-heading-l">
			Check your documents are eligible
		</h1>

		<p class="govuk-body">
			The e-Apostille service excludes a small number of document types. To legalise the following documents, <a href="/application/1-choose-a-service">use the paper-based service instead</a>.
		</p>
		<p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-2">Excluded documents</p>

		<ul class="govuk-list govuk-list--bullet indent-list">
			<li>All General Register Office (GRO) documents, including birth, death, marriage, civil partnership and adoption certificates</li>
			<li>ACRO police certificates for England and Wales</li>
			<li>Disclosure Barring Service (DBS) certificates for England and Wales</li>
			<li>Disclosure certificates for Scotland or Northern Ireland</li>
			<li>Fingerprint certificates</li>
			<li>Association of Chartered Certified Accountants (ACCA) membership certificates</li>
		</ul>

		<p class="govuk-body">
			Find out <a href="/application/page-not-created">why these documents are excluded.</a>
		</p>

		<form action="/application/4a-check-acceptance/form-handler" method="post">
			<h2 class="govuk-fieldset__legend--m">Are your documents eligible for the e-Apostille service?</h2>
			<p class="govuk-body">
				Unless your documents are listed as excluded it is highly likely they are eligible.
			</p>
			{{ govukRadios({
				idPrefix: "documents-eligible",
				name: "documents-eligible",
				items: [
					{
						value: "yes",
						text: "Yes, I believe my documents are eligible"
					},
					{
						value: "no",
						text: "No, my documents are excluded"
					}
				]
			}) }}
			{{ govukButton({
				text: "Continue"
			}) }}
		</form>
	 </div>
</div>


{% endblock %}
