{% extends "layout.html" %}

{% block pageTitle %}
Check if the documents are eligible for the e-Apostille service
{% endblock %}

{% block beforeContent %}

<div class="flex-space-between">
  {{ govukBackLink({
    text: "Back",
    href: "/application/3-which-service"
  }) }}
{% include "includes/my-account-nav.html" %}
</div>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters-from-desktop">
    <span class="govuk-caption-xl">e-Apostille eligibility - step 1 of 3</span>
    <h1 class="govuk-heading-l">
      Check if the documents are eligible for the e-Apostille service
    </h1>

  <p class="govuk-body">Most types of documents are eligible for the e-Apostille service if they have been
    notarised and digitally signed by a notary.</p>

  <p class="govuk-body">However, some documents are not eligible for the e-Apostille service. You cannot use the e-Apostille service if the document you wish to legalise is:</p>
	  <div class="govuk-!-margin-bottom-8">
  <ul class="govuk-list govuk-list--bullet">
    <li>issued by the General Register Office (GRO), for example, birth, death, marriage, civil partnership and adoption certificates</li>
    <li>ACRO police certificate for England and Wales</li>
    <li>Disclosure Barring Service (DBS) certificate for England and Wales</li>
    <li>disclosure certificate for Scotland</li>
    <li>disclosure certificate for Northern Ireland</li>
    <li>Association of Chartered Certified Accountants (ACCA) membership certificate</li>
    <li>fingerprint certificate</li>
  </ul>
  </div>
	  <form action="/application/4a-check-acceptance/form-handler" method="post">
	  {{ govukRadios({
	  classes: "govuk-radios--inline",
	  idPrefix: "documents-eligible",
	  name: "documents-eligible",
	  fieldset: {
	  legend: {
	  text: "Are the documents eligible for the e-Apostille service?",
	  isPageHeading: false,
	  classes: "govuk-fieldset__legend--m"
	  }
	  },
	  items: [
	  {
	  value: "yes",
	  text: "Yes"
	  },
	  {
	  value: "no",
	  text: "No"
	  }
	  ]
	  }) }}
    {{ govukButton({
        text: "Continue"
    }) }}
	  </form>
	 </div>
</div>


{% endblock %}
