{% extends "layout.html" %}

{% block pageTitle %}
Check if an e-Apostille is acceptable
{% endblock %}

{% block beforeContent %}

<div class="flex-space-between">
  {{ govukBackLink({
    text: "Back",
    href: "/application/3-which-service"
  }) }}
{% include "includes/my-account-nav.html" %}
</div>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters-from-desktop">
    <span class="govuk-caption-xl">e-Apostille eligibility - step 1 of 3</span>
	  <form action="/application/4a-check-acceptance/form-handler" method="post">
	  {{ govukRadios({
	  classes: "govuk-radios--inline",
	  idPrefix: "eapostille-acceptable",
	  name: "eapostille-acceptable",
	  fieldset: {
	  legend: {
	  text: "Is the e-Apostille accepted in the destination country?",
	  isPageHeading: true,
	  classes: "govuk-fieldset__legend--l"
	  }
	  },
    hint: {
      text: "Some countries may not accept an electronic apostille as proof
        that documents have been legalised. Before you use this service, you need to check
        if an electronic apostille will be accepted in the country you wish to use it.
        We cannot offer a refund if the electronic apostille is not accepted."
    },
	  items: [
	  {
	  value: "yes",
	  text: "Yes"
	  },
	  {
	  value: "no",
	  text: "No"
	  }
	  ]
	  }) }}
    {{ govukButton({
        text: "Continue"
    }) }}
	  </form>
    {{ govukInsetText({
  html: '<p class="govuk-body">If you know that the documents are eligible for the e-Apostille service, you can <a href="6-start-eapostille.html">skip to the start of the service</a>.</p>'
}) }}

  </div>
</div>


{% endblock %}
