{% extends "layout.html" %}

{% block pageTitle %}
The PDFs need to be notarised and digitally signed by a notary
{% endblock %}

{% block beforeContent %}
<div class="flex-space-between">
	{{ govukBackLink({
	text: "Back",
	href: "/application/5-check-notarised-and-signed"
	}) }}
	{% include "includes/my-account-nav.html" %}
</div>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters-from-desktop">
		<h1 class="govuk-heading-l">
			You cannot use this service
		</h1>

    <p class="govuk-body">
			If the PDFs have not been notorised and digitally signed by a notary you cannot use the e-Apostille service.
		</p>

		<p class="govuk-body">
			You can <a href="/application/3-which-service">use the paper-based service instead</a>.
		</p>
  </div>
</div>
{% endblock %}
