{% extends "layout.html" %}

{% block pageTitle %}
Have the PDFs been notarised and digitally signed by a notary?
{% endblock %}

{% block beforeContent %}
<div class="flex-space-between">
  {{ govukBackLink({
    text: "Back",
    href: "/application/4-check-documents"
  }) }}
{% include "includes/my-account-nav.html" %}
</div>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters-from-desktop">
    <span class="govuk-caption-xl">e-Apostille eligibility - step 3 of 3</span>
        <form action="/application/5-check-notarised-and-signed/form-handler" method="post">
    <div class="govuk-form-group">
      <fieldset class="govuk-fieldset">

        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
          <h1 class="govuk-fieldset__heading">
            Have the PDFs been notarised and digitally signed by a notary?
          </h1>
        </legend>
        <div id="dob-hint" class="govuk-hint">
          <p class="govuk-body">
            To use the e-Apostille service, the documents must be uploaded as
            PDFs that have been notarised and digitally signed by a notary.
          </p>
          <details class="govuk-details" data-module="govuk-details">
            <summary class="govuk-details__summary">
              <span class="govuk-details__summary-text">
                Check how the PDF should be constructed
              </span>
            </summary>
            <div class="govuk-details__text">
              <p class="govuk-body">
                To be legalised, the PDF must be certified in the UK by a practicing solicitor or notary public.
              <p>
              <p class="govuk-body">
                When the solicitor or notary public certifies the PDF, they must:
                <ul class="govuk-list govuk-list--bullet">
                  <li>hold a valid UK practising certificate for the date the PDF is certified</li>
                  <li>sign with a digital signature registered with their name as listed by the relevant regulatory body, for example, The Law Society, Faculty Office</li>
                  <li>sign while in the UK</li>
                  <li>use their personal digital signature, not a company signature</li>
                  <li>include an image of their seal, if applicable, which must be on the same page of the document as their digital signature</li>
                  <li>include their name and company address</li>
                  <li>include the full date of certification, specifying the day, month and year – the certification cannot be post-dated</li>
                  <li>state the action they have taken, for example, certified the document as a copy, witnessed a signature. The certification must be appropriate for the document type, for example, if the document is a scanned copy, it should be certified as a true copy of the original.</li>
                </ul>
              </p>
              <p class="govuk-body">
                If the solicitor or notary public includes a cover sheet in the PDF,
                it must make specific reference to all the documents within the PDF.
                Make sure the cover sheet appears first in the PDF.
              </p>
              <p class="govuk-body">
                Information on digitally signing a PDF may be found in the following sites:
              </p>
              <ul class="govuk-list govuk-list--bullet">
                <li>in England and Wales by the Notary Society - <a href="https://www.thenotariessociety.org.uk/">www.thenotariessociety.org.uk</a></li>
                <li>in Scotland by the Law Society of Scotland - <a href="https://www.lawscot.org.uk/">www.lawscot.org.uk</a></li>
                <li>in Northern Ireland by the Law Society of Northern Ireland - <a href="https://www.lawsoc-ni.org/">www.lawsoc-ni.org</a></li>
              </ul>
            </div>
          </details>
        </div>

        <div class="govuk-radios govuk-radios--inline">
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="notarised-and-signed" name="notarised-and-signed" type="radio" value="yes">
            <label class="govuk-label govuk-radios__label" for="where-do-you-live">
              Yes
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="notarised-and-signed-2" name="notarised-and-signed" type="radio" value="no">
            <label class="govuk-label govuk-radios__label" for="where-do-you-live-2">
              No
            </label>
          </div>
        </div>
      </fieldset>
    </div>
    <button class="govuk-button" data-module="govuk-button">
      Continue
    </button>
  </form>
</div>

{% endblock %}
