{% extends "layout.html" %}

{% block pageTitle %}
You cannot apply yet
{% endblock %}

{% block beforeContent %}
<div class="flex-space-between">
	{{ govukBackLink({
	text: "Back",
	href: "/application/5-check-notarised-and-signed"
	}) }}
	{% include "includes/my-account-nav.html" %}
</div>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters-from-desktop">
		<h1 class="govuk-heading-l">
			You cannot apply yet
		</h1>

    <p class="govuk-body">
		The e-Apostille service only accepts PDF documents that have been electronically signed by a notary or solicitor. Find out more about <a href="/application">how to get a document legalised</a>.
	</p>

		<p class="govuk-body">
			You need to get your documents electronically signed or <a href="/application/3-which-service">use the paper-based service instead</a>.
		</p>
  </div>
</div>
{% endblock %}
