{% extends "layout.html" %}

{% block pageTitle %}
Confirm documents are correctly prepared
{% endblock %}

{% block beforeContent %}
<div class="flex-space-between">
  {{ govukBackLink({
    text: "Back",
    href: "/application/4-check-documents"
  }) }}
{% include "includes/my-account-nav.html" %}
</div>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters-from-desktop">
    <span class="govuk-caption-xl">e-Apostille suitability - 3 of 3</span>
        <form action="/application/5-check-notarised-and-signed/form-handler" method="post">
    <div class="govuk-form-group">
      <fieldset class="govuk-fieldset">

        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
          <h1 class="govuk-fieldset__heading">
            Confirm documents are correctly prepared
          </h1>
        </legend>
        <div id="dob-hint" class="govuk-hint">
          <p class="govuk-body">
            To use the e-Apostille service, your documents must be:
          </p>

          <ul class="govuk-list govuk-list--bullet indent-list">
            <li>prepared as PDF files</li>
            <li>certified and electronically signed by a UK notary or solicitor</li>
          </ul>

          <p class="govuk-body">
            There is also <a href="/application/terms-and-conditions#guidanceForLegalProfessionals">guidance legal professionals</a> must follow.
          </p>

          <details class="govuk-details" data-module="govuk-details">
            <summary class="govuk-details__summary">
              <span class="govuk-details__summary-text">
                If you are submitting more than one document
              </span>
            </summary>
            <div class="govuk-details__text">
              <p class="govuk-body">
                Prepare each document that requires its own e-Apostille certificate as a separate PDF file.
              </p>
              <p class="govuk-body">
                If you include multiple documents in the same PDF file you will get a single e-Apostille that applies to, and must be shared together with, all of the documents in that PDF.
              </p>
              <p class="govuk-body">
                There is a fee for each e-Apostille issued.
              </p>
            </div>
          </details>
        </div>

        <h2 class="govuk-fieldset__legend--m">Are your PDFs electronically signed by a UK notary or solicitor?</h2>
        <div class="govuk-radios">
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="notarised-and-signed" name="notarised-and-signed" type="radio" value="yes">
            <label class="govuk-label govuk-radios__label" for="notarised-and-signed">
              Yes
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="notarised-and-signed-2" name="notarised-and-signed" type="radio" value="no">
            <label class="govuk-label govuk-radios__label" for="notarised-and-signed-2">
              No
            </label>
          </div>
        </div>
      </fieldset>
    </div>
    <button class="govuk-button" data-module="govuk-button">
      Continue
    </button>
  </form>
</div>

{% endblock %}
