{% extends "layout.html" %}

{% block pageTitle %}
  Are your documents certified and digitally signed by a notary?
{% endblock %}

{% block beforeContent %}
<div class="flex-space-between">
  {{ govukBackLink({
    text: "Back",
    href: "/application/4-check-documents"
  }) }}
{% include "includes/my-account-nav.html" %}
</div>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters-from-desktop">

	  <form action="/application/5-documents-certified-check/form-handler" method="post">
    {{ govukRadios({
      classes: "govuk-radios--inline",
      idPrefix: "documents-certified",
      name: "documents-certified",
      fieldset: {
        legend: {
          text: "Are your documents certified and digitally signed by a notary?",
          isPageHeading: true,
          classes: "govuk-fieldset__legend--l"
        }
      },
      hint: {
        html: '<p class="govuk-body">To use this eApostille service, your documents
          must be PDFs that have been certified and digitally signed by a notary.</p>'
      },
      items: [
        {
          value: "yes",
          text: "Yes"
        },
        {
          value: "no",
          text: "No"
        }
      ]
    }) }}

    {{ govukButton({
        text: "Continue"
    }) }}
	  </form>

  </div>
</div>

{% endblock %}
