{% extends "layout.html" %}

{% block pageTitle %}
You need to upload the documents as a PDF
{% endblock %}

{% block beforeContent %}
<div class="flex-space-between">
	{{ govukBackLink({
	text: "Back",
	href: "/application/5a-saved-as-pdf"
	}) }}
	{% include "includes/my-account-nav.html" %}
</div>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters-from-desktop">
<h1 class="govuk-heading-l">
	You need to upload the documents as a PDF
</h1>
    <p class="govuk-body">
		If you are unable to upload the documents as a PDF, you can still get the documents legalised by using the standard service.
	</p>
  	<p class="govuk-body">
		  You will need to apply online and then post the documents to the Legalisation Office. Use the <a href="/application/standard-service-document-check">standard service here</a>.
    </p>

  </div>
</div>

{% endblock %}
