{% extends "layout.html" %}

{% block pageTitle %}
Information based on your answers
{% endblock %}

{% block beforeContent %}
<div class="flex-space-between">
	{{ govukBackLink({
		text: "Back",
		href: "/application/5-important-info"
	}) }}
</div>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl">Information based on your<br /> answers</h1>

        <h2 class="govuk-heading-m">
            Standard service
        </h2>

        <p class="govuk-body">The standard service involves applying online and posting the documents you wish to legalise.</p>
        <ul class="govuk-list govuk-list--bullet">
            <li>you need to post the documents you wish to legalise to the Legalisation Office</li>
            <li>your legalised documents and Apostille will be returned to your chosen address by courier or post</li>
        </ul>

        <p class="govuk-body">The standard service costs £30 per document, plus courier fees or postage.</p>
        {{ govukTable({
            caption: "Courier costs",
            captionClasses: "govuk-table__caption--m",
            firstCellIsHeader: false,
            head: [
                {
                    text: "Country",
                    classes: "govuk-!-width-three-quarters"
                },
                {
                    text: "Price",
                    classes: "govuk-!-width-one-quarter"
                }
            ],
            rows: [
                [
                    {
                        text: "UK (including British Forces Post Office)"
                    },
                    {
                        text: "£5 per 1.5kg"
                    }
                ],
                [
                    {
                        text: "European countries (not including Albania, Armenia, Azerbaijan, Belarus,
                        Bosnia and Herzegovina, Georgia, Liechtenstein, Kazakhstan, Moldova,
                        Montenegro, North Macedonia, Russia, Serbia, Turkey and Ukraine)"
                    },
                    {
                        text: "£15 per 1.5kg"
                    }
                ],
                [
                    {
                        text: "Rest of the world"
                    },
                    {
                        text: "£20 per 1.5kg"
                    }
                ]
            ]
        }) }}


    <h2 class="govuk-heading-m">
        If you do not want to pay courier fees
    </h2>

    <p class="govuk-body">
        Your documents will be returned by courier but if you’re in the UK you can
        have them returned by post. You must include an A4-sized envelope with the
        return address written on it. Attach enough UK postage stamps to cover the
        return postage.
    </p>

    <div class="govuk-!-margin-bottom-6">

        <div class="govuk-!-padding-top-4">
            {{ govukButton({
                href: "/application/7-create-online-account",
                text: "Continue"
            }) }}
        </div>

        </div>
</div>

{% endblock %}
