{% extends "layout.html" %}

{% block pageTitle %}
Get the documents legalised using the eApostille service
{% endblock %}

{% block beforeContent %}

<div class="flex-space-between">
  {{ govukBackLink({
    text: "Back",
    href: "/application/5a-saved-as-pdf"
  }) }}
{% include "includes/my-account-nav.html" %}
</div>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters-from-desktop">

  <h1 class="govuk-heading-xl">
    Get the documents legalised using the eApostille service
  </h1>
	  <p class="govuk-body">The legalised documents and electronic apostille will be issued and available to download from your account within 10 working days of completing this service.
	  </p>
	  <p class="govuk-body">Make sure you have a credit or debit card ready for payment.</p>
	  <p class="govuk-body">If you do not enter any information for more than 30 minutes, your application will time out and you will have to start again.
	  </p>
	  <div class="govuk-!-margin-top-6">
		  {{ govukButton({
		  text: "Start now",
		  href: "/application/7-upload-documents",
		  isStartButton: true
		  }) }}
	  </div>
  </div>
</div>


{% endblock %}
