{% extends "layout.html" %}

{% block pageTitle %}
  Check if your documents can be legalised
{% endblock %}

{% block beforeContent %}

<div class="flex-space-between">
  {{ govukBackLink({
    text: "Back",
    href: "/application/5-documents-certified-check"
  }) }}
{% include "includes/my-account-nav.html" %}
</div>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters-from-desktop">

  <h1 class="govuk-heading-xl">
    Get your documents legalised using the eApostille service
  </h1>
	  <p class="govuk-body">I
		  Your legalised documents and electronic apostille will be issued and can be downloaded from your account.
	  </p>

	  <h2 class="govuk-heading-l">
		  What you’ll need
	  </h2>
	  <ul class="govuk-list govuk-list--bullet">
		  <li>the documents you want to legalise, ready to upload as PDF files</li>
		  <li>Each PDF file certified and digitally signed by a practising notary</li>
		  <li>a credit or debit card for payment</li>
	  </ul>
	  <p class="govuk-body">If you do not enter any information for more than 30
		  minutes, your application will time out and you will have to start again.</p>
	  <div class="govuk-!-margin-top-6">
		  {{ govukButton({
		  text: "Start now",
		  href: "/application/7-upload-documents",
		  isStartButton: true
		  }) }}
	  </div>
  </div>
</div>


{% endblock %}
