{% extends "layout.html" %}

{% block pageTitle %}
  Upload documents
{% endblock %}

{% block beforeContent %}
<div class="flex-space-between">
	{{ govukBackLink({
	text: "Back",
	href: "/application/6-start-eapostille"
	}) }}
	{% include "includes/my-account-nav.html" %}
</div>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters-from-desktop">

  <h1 class="govuk-heading-xl">
    Add your documents
  </h1>

  <p class="govuk-body">All documents must be uploaded as a PDF file. If you need to legalise more than one document at the same time, you can upload them as a bundle by putting all documents in a single PDF.</p>
  <p class="govuk-body">Each uploaded PDF must:</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>have a single notarial cover sheet</li>
    <li>include the documents you wish to legalise</li>
    <li>be certified and digitally signed by a practising notary</li>
    <li>have a maximum file size of 50MB</li>
  </ul>
  <form action="/application/7-upload-documents/form-handler" method="post">
  <div class="govuk-form-group">
	  <label class="govuk-label" for="file-upload-1">
		  Upload files
	  </label>
	  <input class="govuk-file-upload" id="file-upload-1" name="pdf" type="file" accept=".pdf" multiple>
  </div>
	  {{ govukButton({
	  text: "Continue"
	  }) }}
  </form>


{% endblock %}
