{% extends "layout.html" %}

{% block pageTitle %}
  Add your PDFs
{% endblock %}

{% block beforeContent %}
	<div class="flex-space-between">
		{{ govukBackLink({
			text: "Back",
			href: "/application/5a-how-to-complete-app"
		}) }}
		{% include "includes/my-account-nav.html" %}
	</div>
{% endblock %}


{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">

	  {% if (data.errors) and (data.errors.length > 0) or (data.infectedFile) %}
		<div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="govuk-error-summary">
			<h2 class="govuk-error-summary__title" id="error-summary-title">
				There is a problem
			</h2>
			<div class="govuk-error-summary__body">
				<ul class="govuk-list govuk-error-summary__list">
					{% if (data.errors.length > 0) %}
						<li>
							<a href="#error-list">One or more files could not be uploaded</a>
						</li>
					 {% endif %}
					{% if (data.infectedFile) %}
						<li>
							<a href="#file-upload">
								The following file cannot be uploaded because it is infected (may contain a virus). You might be able to upload a
                                    different copy of this file:</a>
						</li>
						<li>infected_file.pdf</li>
					 {% endif %}
				</ul>
			</div>
		</div>
	  {% endif %}

	<section class="govuk-body">
		<h1 class="govuk-heading-xl">Upload your PDF files </h1>
		<p>One e-Apostille can be issued per PDF file, even if it includes multiple documents.</p>
		<p>£30 fee per e-Apostille issued.</p>
		<strong>Upload files</strong>
		<p class="govuk-!-margin-top-2">
			Up to 50 PDFs can be uploaded in a single application. The maximum file size for each PDF is 200MB.
		</p>
	</section>

	<form id="delete-file" action="/application/delete-file" method="post"></form>
	<form id="upload-files" action="/application/7-upload-documents/form-handler" method="post"></form>

	<div class="govuk-form-group">
		<fieldset class="govuk-fieldset" aria-describedby="changed-name-hint">
		<label class="govuk-label" for="file-upload-1">
				Select PDFs
		</label>
			<div class="flex flex--v-center">
				<input form="upload-files" class="govuk-file-upload" id="file-upload-1" name="documents" type="file" multiple accept="application/pdf">
			</div>
		</fieldset>
	</div>

	<input form="upload-files" id="file-upload" type="hidden" value="{{data.documents}}" name="existingDocs" />
	<button form="upload-files" class="govuk-button govuk-button--secondary" data-module="govuk-button">
		Upload
	</button>

	{% if (data.errors) and (data.errors.length > 0) %}
		<h3 class="govuk-heading-m" id="error-list">
			{% if (data.errors.length > 1)%}
				{{ data.errors.length }} files have errors
			{% else %}
				1 file had errors
			{% endif %}
		</h3>
		<section class="govuk-body multi-file-upload__list">
		{% if (data.errors.includes('LARGE_FILE_ERROR')) %}
			<div class="multi-file-upload__error-item">
				<p>large_file.pdf</p>
				<p class="govuk-error-message">
					The file is too big. Each file you upload must be a maximum of 200Mb
				<p>
			</div>
		{% endif %}
		{% if (data.errors.includes('NOT_PDF_ERROR')) %}
			<div class="multi-file-upload__error-item">
				<p>not_pdf.pdf</p>
				<p class="govuk-error-message">
					The file is in the wrong file type. Only PDF files are allowed.
				<p>
			</div>
		{% endif %}
		</section>
	{% endif %}

	{% if (data.documents[0] !== '') and (data.documents.length > 0) %}
		<h3 class="govuk-heading-m">
			{% if (data.noOfDocs > 1)%}
				{{ data.noOfDocs}} files were uploaded
			{% else %}
				1 file was uploaded
			{% endif %}
		</h3>
		<ul class="govuk-body uploaded-files">
			{% for document in data.documents %}
				<li>
					{{document}}
					<button form="delete-file" name="document" value="{{document}}" class="govuk-button govuk-button--secondary" data-module="govuk-button">
						Delete
					</button>
				</li>
			{% endfor %}
		</ul>

		{{ govukButton({
			href: "/application/8-user-reference",
			text: "Continue"
		}) }}
	{% endif %}

		{{ govukDetails({
		summaryText: "I cannot upload my files ",
		text: "We're sorry your having a bad experience uploading your documents. Please consider contacting the Legalisation Office for more assistance on 01234 567 8901. Alternatively you can try using the paper service which doesn't require a document to be uploaded."
		}) }}

		<a href="/application/cannot-upload" class="govuk-link govuk-body">I still cannot upload my PDFs</a>
	</div>
</div>


{% endblock %}
