{% extends "layout.html" %}

{% block pageTitle %}
  Your reference (optional)
{% endblock %}

{% block beforeContent %}
<div class="flex-space-between">
	{{ govukBackLink({
	text: "Back",
	href: "/application/7-upload-documents"
	}) }}
  {% include "includes/my-account-nav.html" %}
</div>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters-from-desktop">
    <h1 class="govuk-heading-l">Your reference (optional)</h1>
    <p class="govuk-body">You will get an official reference when you submit your application.</p>
    <p class="govuk-body">You can also add your own reference here if you want to.</p>

	  <form action="/application/9-check-your-answers">
{{ govukInput({
  id: "user-reference",
  name: "user-reference"
}) }}

{{ govukButton({
    text: "Continue"
}) }}
	  </form>

  </div>
</div>

{% endblock %}
