{% extends "layout.html" %}

{% block pageTitle %}
  Check your application
{% endblock %}

{% block beforeContent %}
<div class="flex-space-between">
	{{ govukBackLink({
	text: "Back",
	href: "/application/8-user-reference"
	}) }}
	{% include "includes/my-account-nav.html" %}
</div>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters-from-desktop govuk-body">

	<h1 class="govuk-heading-xl">
		Check your application
	</h1>

	  <h2 class="govuk-heading-m">
		  Your application
	  </h2>

	  <dl class="govuk-summary-list govuk-!-margin-bottom-1">
		  <div class="govuk-summary-list__row remove-bottom-border">
			  <dt class="govuk-summary-list__key">
				  <strong>Uploaded files</strong>
			  </dt>
			  <dd class="govuk-summary-list__actions">
				  <a class="govuk-link" href="/application/7-upload-documents">
					  Change<span class="govuk-visually-hidden"> uploaded files</span>
				  </a>
			  </dd>
		  </div>
	  </dl>
    <ul class="govuk-list govuk-list--spaced govuk-!-margin-bottom-9">
      {% for document in data.documents %}
          <li>{{document}}</li>
      {% endfor %}
    </ul>


    {% if data['user-reference'] %}
  	  {{ govukSummaryList({
  		  classes: 'govuk-!-margin-bottom-9',
  		  rows: [
  			  {
  				  key: {
  				  	text: 'Your reference'
  				  },
  				  value: {
  				  	text: data['user-reference']
  				  },
  				  actions: {
  					  items: [
  						  {
  							  href: "8-user-reference",
  							  text: "Change",
  							  visuallyHiddenText: "your reference"
  						  }
  					  ]
  				  }
  			  }
  		  ]
  	  })
  	  }}
    {% else %}
      {{ govukSummaryList({
        classes: 'govuk-!-margin-bottom-9',
        rows: [
          {
            key: {
              text: 'Your reference'
            },
            value: {
              text: "None added"
            },
            actions: {
              items: [
                {
                  href: "8-user-reference",
                  text: "Change",
                  visuallyHiddenText: "your reference"
                }
              ]
            }
          }
        ]
      })
      }}
    {% endif %}

	  <h2 class="govuk-heading-m govuk-!-margin-bottom-1">
		  Cost
	  </h2>
	  <dl class="govuk-summary-list govuk-!-margin-bottom-9">
		  <div class="govuk-summary-list__row">
			  <dt class="govuk-summary-list__key">
				  Total for
          {% if data.noOfDocs == 1 %}
          {{data.noOfDocs}} PDF
          {% else %}
          {{data.noOfDocs}} PDFs
          {% endif %}
			  </dt>
			  <dd class="govuk-summary-list__value">
				  {{data.cost | formatCurrency}}
			  </dd>
		  </div>
	  </dl>

    {{ govukButton({
        text: "Continue to payment",
        href: "/application/10-pay-for-application"
    }) }}

  </div>
</div>


{% endblock %}
