{% extends "layout.html" %}

{% block pageTitle %}
Application A-C-21-0205-0343-5BEC
{% endblock %}

{% block beforeContent %}
<div class="flex-space-between">
  {{ govukBackLink({
  text: "Back",
  href: "/application/2-your-account"
  }) }}
  {% include "includes/my-account-nav.html" %}
</div>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters-from-desktop">

    {% set html %}
    <p class="govuk-notification-banner__heading">
      You have 21 days left to download the legalised documents.
    </p>
    {% endset %}

    {{ govukNotificationBanner({
      html: html
    }) }}

    <span class="govuk-caption-xl">e-Apostille application</span>
    <h1 class="govuk-heading-xl">
      A-C-21-0205-0343-5BEC
    </h1>

    <p class="govuk-body">You can now download PDF versions of the legalised documents.</p>

      {{ govukWarningText({
        text: "If you do not download them within 21 days, they will be deleted for data privacy reasons. You will need to pay
              for another application to have the documents legalised again.",
        iconFallbackText: "Warning"
      }) }}

      <h2 class="govuk-table__caption--m">Download documents</h2>
      <p class="govuk-body">You can download each PDF as many times as you wish before it is deleted.</p>
      <p class="govuk-body">Once downloaded, you can send the entire PDF to the overseas authority
      that needs the legalised documents.
      Each PDF contains a copy of the original uploaded PDF along with an e-Apostille.</p>
      <p class="govuk-body">You cannot use a printed version of the PDF, as the PDF contains the FCDO digital signature
        which ensures its authenticity and prevents tampering.</p>

      {{ govukTable({
      caption: "PDFs",
      captionClasses: "govuk-table__caption--m",
      firstCellIsHeader: false,
            rows: [
                    [
                      {
                        text: ""
                      },
                      {
                        html: '<button class="govuk-button govuk-button--secondary govuk-!-margin-0" data-module="govuk-button">
                          Download all</button>'
        }
      ],
      [
      {
      text: "client_document_1.pdf"
      },
      {
      html: '<button class="govuk-button govuk-button--secondary govuk-!-margin-0"
        data-module="govuk-button">Download <span class="govuk-visually-hidden">client_document_1.pdf</span></button>'
      }
      ],
      [
      {
      text: "client_document_2.pdf"
      },
      {
      html: '<button class="govuk-button govuk-button--secondary govuk-!-margin-0"
        data-module="govuk-button">Download<span class="govuk-visually-hidden">client_document_2.pdf</span></button>'
      }
      ],
      [
      {
      html: '<p class="govuk-body">client_document_3.pdf</p>
            <p class="govuk-body">This PDF has been rejected for the following reasons:</p>
            <details class="govuk-details" data-module="govuk-details">
              <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                  GRO certificates cannot be legalised using the e-Apostille service
                </span>
              </summary>
              <div class="govuk-details__text">
                <p  class="govuk-body">
                  You must use the standard service to legalise General Register
                  Office (GRO) certificates.
                </p>
                <p  class="govuk-body">
                  Certificates from GRO are birth, marriage, civil partnership, death,
                  adoption and commemorative certificates.
                </p>
                <p  class="govuk-body">
                  We are unable to legalise scanned copies of GRO certificates.
                  We can only legalise original paper certificates or paper certified
                  copies that have been produced by the GRO.
                </p>
                <p class="govuk-body">
                  For more information on obtaining a paper certified copy from the GRO
                  please visit:
                  <a href="https://www.gro.gov.uk/gro/content/" class="govuk-link">www.gro.gov.uk/gro/content/</a>.
                </p>
              </div>
            </details>
          <p  class="govuk-body">
            You have been refunded for this PDF.
          </p>'
      },
      {
      html: '<strong class="govuk-tag govuk-tag--red">Rejected</strong>'

      }
      ]
      ]
      }) }}

    <div class="no-table-border">
      {{ govukTable({
      caption: "Application details",
      captionClasses: "govuk-table__caption--m",
      firstCellIsHeader: true,
      rows: [
              [
                {
                  text: "Service"
                },
                {
                  text: "e-Apostille"
                }
              ],
              [
                {
                  text: "Date submitted"
                },
                {
                  text: "2 May 2021"
                }
              ],
              [
                {
                  text: "Date completed"
                },
                {
                  text: "6 May 2021"
                }
              ],
              [
                {
                  text: "Your reference"
                },
                {
                  text: "Janice Simpson"
                }
              ]
            ]
      }) }}
    </div>

    <div class="no-table-border">
      {{ govukTable({
      caption: "Payment details",
      captionClasses: "govuk-table__caption--m",
      firstCellIsHeader: true,
      rows: [
              [
                {
                  text: "Original cost"
                },
                {
                  text: "£90.00"
                }
              ],
              [
                {
                  text: "Refunded amount"
                },
                {
                  text: "£30.00"
                }
              ],
              [
                {
                  text: "Total paid"
                },
                {
                  text: "£60.00"
                }
              ],
              [
                {
                  text: "Payment reference"
                },
                {
                  text: "8516125154710905"
                }
              ]
            ]
      }) }}
    </div>

    <p class="govuk-body">Your payment will appear on your bank statement as FCDO Legalisation Service.</p>
    <p class="govuk-body"><a href="#" class="govuk-link">View and download your receipt here.</a></p>
    {% endblock %}
