{% extends "layout.html" %}

{% block pageTitle %}
Application A-D-21-0212-1234-ABCD
{% endblock %}

{% block beforeContent %}
<div class="flex-space-between">
  {{ govukBackLink({
  text: "Back",
  href: "/application/14-your-account-from-completed-app"
  }) }}
  {% include "includes/my-account-nav.html" %}
</div>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters-from-desktop">

    <span class="govuk-caption-xl">e-Apostille application</span>
    <h1 class="govuk-heading-xl">
      A-D-21-0212-1234-ABCD
    </h1>

    <p class="govuk-body">Your application has been successfully submitted.</p>
    <p class="govuk-body">
      We will notify you by email when it has been legalised. Your successfully legalised document will then be
      available for download from this page.
    </p>
    <p class="govuk-body">
      You will have 21 days from when the documents have been successfully legalised to download them before they are deleted for data privacy reasons.
    </p>
    <br>

    {{ govukTable({
    caption: "Uploaded PDFs",
    captionClasses: "govuk-table__caption--m",
    firstCellIsHeader: false,

        rows: [
        [
        {
        text: "test_clients_pdf.pdf"
        },
        {
        html: '<strong class="govuk-tag govuk-tag--blue">In progress</strong>'
        }
      ]
    ]
    }) }}

    <br>
    <div class="no-table-border">
      {{ govukTable({
      caption: "Application details",
      captionClasses: "govuk-table__caption--m",
      firstCellIsHeader: true,
      rows: [
        [
        {
        text: "Service"
        },
        {
        text: "e-Apostille"
        }
        ],
        [
        {
        text: "Date submitted"
        },
        {
        text: "5 July 2021"
        }
        ],
        [
        {
        text: "Your reference"
        },
        {
        text: "Robert J. Carlisle"
        }
        ]
      ]
      }) }}
    </div>

    <div class="no-table-border">
      {{ govukTable({
      caption: "Payment details",
      captionClasses: "govuk-table__caption--m",
      firstCellIsHeader: true,
      rows: [
      [
      {
      text: "Total paid"
      },
      {
      text: "£30.00"
      }
      ],
      [
      {
      text: "Payment reference"
      },
      {
      text: "8516125154710905"
      }
      ]
      ]
      }) }}
    </div>

    <p class="govuk-body">Your payment will appear on your bank statement as FCDO Legalisation Service.</p>
    {% endblock %}
