{% extends "layout.html" %}

{% block pageTitle %}
Application A-D-21-0212-1234-ABCD
{% endblock %}

{% block beforeContent %}
<div class="flex-space-between">
    {{ govukBackLink({
    text: "Back",
    href: "/application/13-your-account-from-email"
    }) }}
    {% include "includes/my-account-nav.html" %}
</div>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters-from-desktop">

        <h1 class="govuk-heading-xl">
            Application A-D-21-0212-1234-ABCD
        </h1>

        <p class="govuk-body">Your application has been successfully submitted.</p>
        <p class="govuk-body">You can download your legalised documents.</p>

    {{ govukWarningText({
    html: 'You have 21 days from today to download the e-Apostilles before they are deleted for security reasons. You can download the PDFs as many times as you wish in this time.
    <br><br>If you do not
    download them within this time, you will need to pay for another application to have them legalised again.',
    iconFallbackText: "Warning"
    }) }}


        {{ govukTable({
        caption: "Uploaded PDFs",
        captionClasses: "govuk-table__caption--m",
        firstCellIsHeader: false,
        head: [
        {
        text: "Name"
        },
        {
        text: "Status"
        }
        ],
        rows: [
        [
        {
        text: "test_pdf.pdf"
        },
        {
        html: '<button class="govuk-button govuk-button--secondary govuk-!-margin-0"
            data-module="govuk-button">Download</button>'
        }
        ]
        ]
        }) }}

        <br>
        <div class="no-table-border">
            {{ govukTable({
            caption: "Application details",
            captionClasses: "govuk-table__caption--m",
            firstCellIsHeader: true,
            rows: [
            [
            {
            text: "Service"
            },
            {
            text: "e-Apostille"
            }
            ],
            [
            {
            text: "Date submitted"
            },
            {
            text: "5 July 2021"
            }
            ]
            ]
            }) }}
        </div>

        <div class="no-table-border">
            {{ govukTable({
            caption: "Payment details",
            captionClasses: "govuk-table__caption--m",
            firstCellIsHeader: true,
            rows: [
            [
            {
            text: "Amount"
            },
            {
            text: "£30.00"
            }
            ],
            [
            {
            text: "Payment reference"
            },
            {
            text: "8516125154710905"
            }
            ]
            ]
            }) }}
        </div>

        <p class="govuk-body">Your payment will appear on your bank statement as FCDO Legalisation Service.</p>
        {% endblock %}
