{% extends "layout-activate.html" %}

{% block pageTitle %}
  Activate your account
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters-from-desktop">
        <h1 class="govuk-heading-xl">Activate your account</h1>
        <p>We've sent a confirmation email to <strong>joesephine@example.com</strong>. Check your email and click the link in the message to activate your account. The link will expire in 24 hours.</p>
        <p>If you can't find the email in your inbox try the following:</p>
        <ul class="govuk-list govuk-list--bullet">
            <li>check your junk or spam folder</li>
            <li>search for an email from the Legalisation Office</li>
            <li>check you haven't already registered</li>
            <li><a href="/application/page-not-created">resend the confirmation email</a></li>
        </ul>
    </div>
</div>

{% endblock %}
