{% extends "layout.html" %}

{% block pageTitle %}
  Get support with your application
{% endblock %}

{% block beforeContent %}
<div class="flex-space-between">
    {{ govukBackLink({
        text: "Back",
        href: "/application/7-upload-documents"
    }) }}
</div>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters-from-desktop govuk-body">
    <h1 class="govuk-heading-l">Get support with your application</h1>
    <p>You can contact the Legalisation Office if you need support to use this service.</p>
    {% include "includes/contact-details.html" %}

    <p class="govuk-!-margin-top-5">You may also be able to <a href="/application/1-choose-a-service" class="govuk-link">use the paper-based service instead</a></p>.

  </div>
</div>

{% endblock %}
