{% extends "layout.html" %}

{% block pageTitle %}
  Start your e-Apostille application now
{% endblock %}

{% block beforeContent %}
<div class="flex-space-between">
    {{ govukBackLink({
        text: "Back",
        href: "/application/finish-account-setup"
    }) }}
</div>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters-from-desktop">
    <h1 class="govuk-heading-xl">Start your e-Apostille application now</h1>
    <p class="govuk-body">Your account details have been saved.</p>

    {{ govukButton({
        href: "/application/7-upload-documents",
        text: "Continue"
    }) }}

  </div>
</div>

{% endblock %}
