{% extends "layout.html" %}

{% block pageTitle %}
  UK official document legalisation
{% endblock %}

{% block beforeContent %}
<div class="flex-space-between">
  <a id="go-back" href="#" class="govuk-back-link">Back</a>
  <script type="text/javascript">
    document.getElementById('go-back').addEventListener('click', () => {
      history.back();
    });
  </script>
</div>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <h1 class="govuk-heading-xl">
      UK official document legalisation
    </h1>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">

    <h2 class="govuk-heading-s" id="contents">
      Contents
    </h2>
    <ul class="govuk-list">
      <li><a class="govuk-link" href="/application/guide#legalisation-and-apostille-certificates">Legalisation and ‘Apostille’ certificates</a></li>
      <li><a class="govuk-link" href="/application/guide#fees-and-courier-costs">Fees and courier costs</a></li>
      <li><a class="govuk-link" href="/application/guide#before-you-apply">Before you apply</a></li>
      <li><a class="govuk-link" href="/application/guide#choose-a-service">Choose a service</a></li>
      <li><a class="govuk-link" href="/application/guide#prepare-your-documents">Prepare your documents</a></li>
      <li><a class="govuk-link" href="/application/guide#apply-for-legalisation">Apply for legalisation</a></li>
      <li><a class="govuk-link" href="/application/guide#share-your-legalised-document">Share your legalised document</a></li>
      <li><a class="govuk-link" href="/application/guide#find-a-uk-notary-or-solicitor">Find a UK notary or solicitor</a></li>
      <li><a class="govuk-link" href="/application/guide#contact-the-legalisation-office">Contact the Legalisation Office</a></li>
    </ul>

<h2 class="govuk-heading-m" id="legalisation-and-apostille-certificates">
  Legalisation and ‘Apostille’ certificates
</h2>
<p class="govuk-body">When you need to share an official UK document with an authority in another country they might ask that the document is ‘legalised’. This is because an authority like an employer or bank needs to be sure your document is genuine.</p>
<p class="govuk-body">Official UK documents include birth certificates, passports, UK qualifications, contracts and many other documents. There is no definitive list.</p>
{{ govukInsetText({
  text: "You cannot get documents issued outside the UK legalised using this service - get them legalised in the country they were issued."
}) }}

<h3 class="govuk-heading-s" id="how-documents-are-legalised">
  How documents are legalised
</h3>
<p class="govuk-body">Only the Legalisation Office, part of the Foreign, Commonwealth & Development Office (FCDO), can legalise an official UK document.</p>
<p class="govuk-body">For a UK document to be legalised it must be:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>certified/signed by a UK public official to show the document is genuine (they may also add their stamp or seal)</li>
  <li>submitted to the UK Legalisation Office who will check the document has been correctly signed and dated (they will also check any stamp or seal)</li>
  <li>legalised through the attachment of a certificate called an ‘Apostille’</li>
</ul>
<p class="govuk-body">The attached Apostille certificate is what makes the document a legalised version. You can then share your legalised document, including its Apostille, with the authority that requested it.</p>

<h3 class="govuk-heading-s" id="uk-public-officials">
  UK public officials
</h3>
<p class="govuk-body">A public official is a professional who is on an official UK register. Examples include notaries, solicitors and GPs.</p>
<p class="govuk-body">Notaries are public officials who specialise in the authentication of documents and signatures. Be aware that some overseas authorities might insist that your documents are signed specifically by a notary, rather than a solicitor, for example.</p>

<h3 class="govuk-heading-s" id="using-a-notary-or-solicitor">
  Using a notary or solicitor
</h3>
<p class="govuk-body">Some people use a legal service provider, such as a <a class="govuk-link" href="/application/guide#find-a-uk-notary-or-solicitor">notary or solicitor</a>, when applying to legalise documents. They may take you through the process and apply for you.</p>


<h2 class="govuk-heading-m" id="fees-and-courier-costs">
  Fees and courier costs
</h2>
<p class="govuk-body">You will pay a fee for each Apostille certificate that is issued.</p>
<p class="govuk-body">You can apply for a single Apostille certificate to cover multiple documents. However, if you do so you should check that the authority will accept this. Also be aware that all of the documents will always need to be shared together with the Apostille certificate.</p>

{{ govukTable({
  caption: "Dates and amounts",
  captionClasses: "govuk-table__caption--m",
  firstCellIsHeader: true,
  head: [
    {
      text: "Service option"
    },
    {
      text: "Fee per Apostille"
    },
    {
      text: "Speed"
    }
  ],
  rows: [
    [
      {
        text: "Standard service (paper-based)"
      },
      {
        html: "£30<br>Plus courier/postage costs"
      },
      {
        html: "Up to 2 working days,<br>Plus courier/postage time"
      }
    ],
    [
      {
        text: "e-Apostille service (digital)"
      },
      {
        html: "£30"
      },
      {
        html: "Up to 2 working days"
      }
    ],
    [
      {
        text: "Business-only Premium service (paper-based)"
      },
      {
        html: "£75"
      },
      {
        html: "Same day drop-off service"
      }
    ]
  ]
}) }}


<h3 class="govuk-heading-s" id="refunds">
  Refunds
</h3>
<p class="govuk-body">If a document cannot be legalised the fee for that document (or batch of documents where a single Apostille was requested) will be automatically refunded.</p>
<p class="govuk-body">The Legalisation Office cannot issue a refund if an overseas authority refuses to accept a legalised document. Check what the authority will accept before you apply.</p>

<h3 class="govuk-heading-s" id="courier-costs">
  Courier costs
</h3>
<p class="govuk-body">If you use the paper-based service you will also need to pay for courier or postage.</p>
{% include "includes/courier-costs.html" %}

<h3 class="govuk-heading-s" id="if-you-do-not-want-to-pay-for-a-courier">
  If you do not want to pay for a courier
</h3>
<p class="govuk-body">Your documents will be returned by courier but if you are in the UK you can have them returned by post. You must include an A4-sized envelope with the return address written on it. Attach enough UK postage stamps to cover the return postage.</p>


<h2 class="govuk-heading-m" id="before-you-apply">
  Before you apply
</h2>
<p class="govuk-body">It is up to you to check:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>what the overseas authority expects and will accept from you</li>
  <li>the rules of the UK Legalisation Office for your type of document</li>
</ul>

<h3 class="govuk-heading-s" id="check-the-authoritys-requirements">
  Check the authority’s requirements
</h3>
<p class="govuk-body">Check what the authority needs before you apply. For example, some might accept a document ‘certified’ by a notary or solicitor without legalisation.</p>
<p class="govuk-body">If the authority needs a legalised version (Apostille), check exactly what it will accept. For example:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>legalised copy, original document, or either</li>
  <li>electronic apostille, paper apostille, or either</li>
</ul>
<p class="govuk-body">If legalising more than one document, also check if the authority will accept a single Apostille certificate or requires a separate one for each document.</p>

<h3 class="govuk-heading-s" id="check-the-rules-for-your-document">
  Check the rules for your document
</h3>
<p class="govuk-body">There are different rules for different types of documents. For example the Legalisation Office is only able to legalise original versions of some types of document and certified copies of other documents.</p>

<h3 class="govuk-heading-s" id="paper-based-applications">
  Standard (paper-based) applications
</h3>
<p class="govuk-body">Use the <a class="govuk-link" href="https://www.get-document-legalised.service.gov.uk/select-documents">document checker</a> to select your document type and find out what formats are acceptable.</p>

<h3 class="govuk-heading-s" id="electronic-e-Apostille-applications">
  Electronic (e-Apostille) applications
</h3>
<p class="govuk-body">To use the e-Apostille service your documents must be electronically signed by a UK notary or solicitor using either an:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>advanced electronic signature (AES)</li>
  <li>qualified electronic signature (QES)</li>
</ul>
<p class="govuk-body">A simple electronic signature (SES) cannot be used.</p>

<p class="govuk-body">Most documents are suitable for the digital e-Apostille service, however the following are excluded:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>All General Register Office (GRO) documents, including birth, death, marriage, civil partnership and adoption certificates</li>
  <li>ACRO police certificates for England and Wales</li>
  <li>Disclosure Barring Service (DBS) certificates for England and Wales</li>
  <li>Disclosure certificates for Scotland or Northern Ireland</li>
  <li>Fingerprint certificates</li>
  <li>Association of Chartered Certified Accountants (ACCA) membership certificates</li>
</ul>

<h2 class="govuk-heading-m" id="choose-a-service">
  Choose a service
</h2>
<p class="govuk-body">With both the standard paper-based and electronic (e-Apostille) services you will:</p>
<ul class="govuk-list govuk-list--bullet">
<li>Apply and pay online</li>
<li>Pay £30 (debit or credit card) for each Apostille certificate</li>
<li>Get your application processed within 2 working days *</li>
</ul>
<p class="govuk-body">* Processing time may exceed 2 working days if the Legalisation Office has questions about your application.</p>
{{ govukInsetText({
text: "Account for courier/postage time and costs if you choose the paper-based service."
}) }}

<h3 class="govuk-heading-s" id="standard-service-paper-based">
  Standard service (paper-based)
</h3>
<ul class="govuk-list govuk-list--bullet">
  <li>Send in your signed documents by post/courier</li>
  <li>Get legalised documents (with paper Apostilles) returned to you or the overseas authority by post/courier</li>
  <li>Share your legalised paper documents with an authority, for example by courier/postage</li>
  <li>You will get a coversheet at the end of the application. You will need to print or write down some of the details</li>
  <li>Account optional</li>
</ul>
<p class="govuk-body">Find out about <a class="govuk-link" href="/application/guide#fees-and-courier-costs">courier or postage costs</a>.</p>

<h3 class="govuk-heading-s" id="e-apostille-service">
  e-Apostille service
</h3>
<ul class="govuk-list govuk-list--bullet">
  <li>Upload your documents as electronically signed PDF files</li>
  <li>Download legalised documents (with e-Apostilles) as soon as they are ready</li>
  <li>Share legalised digital versions with an overseas authority, for example by email</li>
  <li>Account required</li>
</ul>

<h3 class="govuk-heading-s" id="business-only-premium-service">
  Business-only premium service
</h3>
<ul class="govuk-list govuk-list--bullet">
  <li>£75 per document</li>
  <li>20 documents per application</li>
  <li>The service is open on working days, 9am to 12:30pm for London drop-off</li>
  <li>A collection time will be allocated between 1:30pm to 4:30pm</li>
  <li>Account and company details required</li>
</ul>

<h2 class="govuk-heading-m" id="prepare-your-documents">
  Prepare your documents
</h2>
<p class="govuk-body">Before a document can be submitted for legalisation it, or in some cases a copy, must first have been signed by a UK public official.</p>

<h3 class="govuk-heading-s" id="originals-and-certified-copies">
  Originals and certified copies
</h3>
<p class="govuk-body">Some documents will have been signed by an official when originally issued. Others, as well as certified copies, will need to be signed separately (often by a notary or solicitor) before you can apply.</p>
<p class="govuk-body">There are general rules about <a class="govuk-link" href="https://www.gov.uk/certifying-a-document">certifying a document</a>.  However, make sure you also follow any specific rules of the Legalisation Office for your document type.</p>


<h2 class="govuk-heading-m" id="apply-for-legalisation">
  Apply for legalisation
</h2>
<p class="govuk-body">To make an application you will need:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>the documents you want to legalise (paper or PDF) in a format that meets the rules for the document types</li>
  <li>a debit or credit card to pay fees</li>
</ul>

<p class="govuk-body">If applying for a paper apostille you will also need the address you want your legalised documents to be sent to. For example you might want them returned to your address or sent directly to the overseas authority.</p>
<p class="govuk-body">If applying for a digital apostille your legalised documents will be returned to you by email.</p>

<div id="step-by-step-navigation" class="app-step-nav app-step-nav--large " data-show-text="Show" data-hide-text="" data-show-all-text="" data-hide-all-text="">
  <ol class="app-step-nav__steps">
    <li class="app-step-nav__step js-step step-is-shown" id="check-youre-allowed-to-drive" data-show>
      <div class="app-step-nav__header js-toggle-panel" data-position="1">
        <h2 class="app-step-nav__title">
          <span class="app-step-nav__circle app-step-nav__circle--number">
            <span class="app-step-nav__circle-inner">
              <span class="app-step-nav__circle-background">
                <span class="govuk-visually-hidden">Step</span> 1
              </span>
            </span>
          </span>

          <span class="js-step-title">
            Make your legalisation application
          </span>
        </h2>
      </div>

      <div class="app-step-nav__panel js-panel" id="step-panel-check-youre-allowed-to-drive-1">
        <p class="app-step-nav__paragraph">If your document meets the rules you can <a class="govuk-link" href="/application">apply online for it to be legalised</a></p>
      </div>

    </li>

    <li class="app-step-nav__step js-step step-is-shown" id="get-a-provisional-licence" data-show>
      <div class="app-step-nav__header js-toggle-panel" data-position="2">
        <h2 class="app-step-nav__title">
          <span class="app-step-nav__circle app-step-nav__circle--number">
            <span class="app-step-nav__circle-inner">
              <span class="app-step-nav__circle-background">
                <span class="govuk-visually-hidden">Step</span> 2
              </span>
            </span>
          </span>

          <span class="js-step-title">
            Upload or post your document to the Legalisation Office
          </span>
        </h2>
      </div>

      <div class="app-step-nav__panel js-panel" id="step-panel-get-a-provisional-licence-2">
        <p class="app-step-nav__paragraph">No postage required where the e-Apostille service is used.</p>
      </div>

    </li>

    <li class="app-step-nav__step js-step step-is-shown" id="driving-lessons-and-practice" data-show>
      <div class="app-step-nav__header js-toggle-panel" data-position="3">
        <h2 class="app-step-nav__title">
          <span class="app-step-nav__circle app-step-nav__circle--number">
            <span class="app-step-nav__circle-inner">
              <span class="app-step-nav__circle-background">
                <span class="govuk-visually-hidden">Step</span> 3
              </span>
            </span>
          </span>

          <span class="js-step-title">
            Pay application fees by debit or credit card
          </span>
        </h2>
      </div>

      <div class="app-step-nav__panel js-panel" id="step-panel-get-a-provisional-licence-3">
        <p class="app-step-nav__paragraph">You will also pay courier or postage costs where paper service is used.</p>
      </div>

    </li>

    <li class="app-step-nav__step js-step step-is-shown" id="driving-lessons-and-practice" data-show>
      <div class="app-step-nav__header js-toggle-panel" data-position="3">
        <h2 class="app-step-nav__title">
          <span class="app-step-nav__circle app-step-nav__circle--number">
            <span class="app-step-nav__circle-inner">
              <span class="app-step-nav__circle-background">
                <span class="govuk-visually-hidden">Step</span> 4
              </span>
            </span>
          </span>

          <span class="js-step-title">
            Application processing
          </span>
        </h2>
      </div>

      <div class="app-step-nav__panel js-panel" id="step-panel-get-a-provisional-licence-3">
        <p class="app-step-nav__paragraph">The Legalisation Office will check your documents, including signatures, and any stamps or seals. They will legalise the document by attaching an Apostille certificate.</p>
      </div>

    </li>

    <li class="app-step-nav__step js-step step-is-shown" id="driving-lessons-and-practice" data-show>
      <div class="app-step-nav__header js-toggle-panel" data-position="3">
        <h2 class="app-step-nav__title">
          <span class="app-step-nav__circle app-step-nav__circle--number">
            <span class="app-step-nav__circle-inner">
              <span class="app-step-nav__circle-background">
                <span class="govuk-visually-hidden">Step</span> 5
              </span>
            </span>
          </span>

          <span class="js-step-title">
            Receive your legalised document
          </span>
        </h2>
      </div>

      <div class="app-step-nav__panel js-panel" id="step-panel-get-a-provisional-licence-3">
        <p class="app-step-nav__paragraph">Your documents will be sent by courier or post if you use the paper service.</p>
        <p class="app-step-nav__paragraph">If you apply for an e-Apostille you will be emailed as soon as your documents are ready to download.</p>
      </div>

    </li>
  </ol>
</div>


<h2 class="govuk-heading-m" id="share-your-legalised-document">
  Share your legalised document
</h2>
<p class="govuk-body">Your legalised document and its Apostille certificate must always be shared together.</p>
<p class="govuk-body"><strong>Paper Apostilles</strong> must be shared physically in paper form (for example, in person or by post). This is so the authority can view the original ink signatures.</p>
<p class="govuk-body"><strong>Electronic Apostilles (e-Apostilles)</strong> must be shared digitally (for example, by email, portal upload, on a memory stick, or in person by showing the Apostille on screen). This is so the authority can check the unique electronic signatures.</p>
<p class="govuk-body">With an e-Apostille you can download and digitally share as many copies of your legalised document and its e-Apostille as you want. This means you can share with multiple authorities simultaneously rather than needing to apply for separate paper-based copies for each one.</p>
{{ govukInsetText({
  html: 'The authority can choose to <a class="govuk-link" href="/verify">verify an apostille (paper or e-Apostille) online</a> by entering the Apostille date and number.'
}) }}

<h2 class="govuk-heading-m" id="find-a-uk-notary-or-solicitor">
  Find a UK notary or solicitor
</h2>
<p class="govuk-body">Depending on the requirements for your documents, you may need to get them signed by a notary. In some cases you may be able to use a solicitor instead but you should check that the overseas authority will accept this.</p>
<p class="govuk-body">You can find a notary or solicitor using official lists:</p>
<ul class="govuk-list govuk-list--bullet">
  <li><a class="govuk-link" href="https://www.facultyoffice.org.uk/notaries/find-a-notary/">notaries in England and Wales</a></li>
  <li><a class="govuk-link" href="​​https://solicitors.lawsociety.org.uk/">solicitors in England and Wales</a></li>
  <li><a class="govuk-link" href="https://www.lawscot.org.uk/find-a-solicitor/">notaries and solicitors in Scotland</a></li>
  <li><a class="govuk-link" href="https://www.lawsoc-ni.org/solicitors">notaries and solicitors in Northern Ireland</a></li>
</ul>

<h3 class="govuk-heading-s" id="british-consulate-notary-services">
  British consulate notary services
</h3>
<p class="govuk-body">In some countries and circumstances <a class="govuk-link" href="https://www.gov.uk/government/collections/notarial-services">a British consulate may also provide notary services</a>.</p>


<h2 class="govuk-heading-m" id="contact-the-legalisation-office">
  Contact the Legalisation Office
</h2>
<p class="govuk-body">You can contact the Legalisation Office for information and support.</p>
{% include "includes/contact-details.html" %}

<h3 class="govuk-heading-s" id="postal-address">
  Postal address
</h3>
<p class="govuk-body">The address you need depends on the service you use. You will be given the address when you apply. Email the Legalisation Office if you lose the address.</p>

  </div>

  <as class="govuk-grid-column-one-third-from-desktop">
    <aside class="app-related-items" role="complementary">
      <h2 class="govuk-heading-s" id="subsection-title">
        Related content
      </h2>
      <nav role="navigation" aria-labelledby="subsection-title">
        <ul class="govuk-list govuk-!-font-size-16">
          <li><a class="govuk-link" href="/application">Get your document legalised</a></li>
          <li><a class="govuk-link" href="/verify">Verify an Apostille</a></li>
          <li><a class="govuk-link" href="https://www.gov.uk/certifying-a-document">Certifying a document</a></li>
        </ul>
      </nav>
    </aside>
  </as>
</div>

{% endblock %}
