{% extends "layout.html" %}

{% block pageTitle %}
  Guide
{% endblock %}

{% block beforeContent %}
<div class="flex-space-between">
  <a id="go-back" href="#" class="govuk-back-link">Back</a>
  <script type="text/javascript">
  document.getElementById('go-back').addEventListener('click', () => {
    history.back();
  });
  </script>
</div>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters-from-desktop">
    <h1 class="govuk-heading-l">
      Guide
    </h1>
    <p class="govuk-body">
    </p>
    <h2 class="govuk-heading-m" id="what-it-costs">
      What it costs
    </h2>
    <p class="govuk-body">The standard service costs £30 per document, plus courier fees or postage.</p>
    {% include "includes/courier-costs.html" %}

    <h3 class="govuk-heading-s">
      If you do not want to pay courier fees
    </h3>
    <p class="govuk-body">Your documents will be returned by courier but if you’re in the UK you can
      have them returned by post. You must include an A4-sized envelope with the
      return address written on it. Attach enough UK postage stamps to cover the
      return postage.
    </p>

    <h2 class="govuk-heading-m" id="how-long-it-takes">
    How long it takes
    </h2>
    <p class="govuk-body">It can take up to 10 working days to process your documents
      using the standard service, plus courier or postage time.</p>
    <p class="govuk-body">Call the Legalisation Office if your application is urgent.</p>

    <h2 class="govuk-heading-m" id="premium-service">
      Premium same-day business service
    </h2>
    <p class="govuk-body">The premium same-day business service is for registered businesses only and costs £75 per document.</p>
    <p class="govuk-body">You must take your documents to the premium office in central London between 9am and 12:30pm.
      You will be given a collection time between 1:30pm and 4:30pm.</p>
    <p class="govuk-body">You need an account to use the premium service. <a href="/application/sign-in">Sign in</a> if
      you’re an existing user or <a href="#">create an account</a>.</p>

  </div>
</div>

{% endblock %}
