{% extends "layout.html" %}

{% block pageTitle %}
  Get document legalised
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="https://www.gov.uk">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="#">Births, deaths, marriages and care</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="#">Certificates, register offices, changes of name or gender</a>
      </li>
    </ol>
  </div>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

      <h1 class="govuk-heading-xl">
		  Get your document legalised
      </h1>
	</div>
  </div>

<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds-from-desktop">
      <p class="govuk-body">You can get certain official UK documents ‘legalised’ by asking the Legalisation Office
        to confirm that the signature, stamp or seal is from a UK public official.</p>

      <p class="govuk-body">You might need to do this if an official in another country has asked you to provide a
          UK document and they’ve said it must be legalised.</p>

      <p class="govuk-body">The Legalisation Office will check the document, including whether the signature, stamp
        or seal is genuine. They’ll legalise the document by attaching a stamped official
        certificate (an ‘Apostille’) to it.</p>

      <p class="govuk-body">You cannot get documents issued outside the UK legalised using this service - get them
        legalised in the country they were issued.</p>

      <h2 class="govuk-heading-l">
        What it costs
      </h2>

      <p class="govuk-body">The standard service costs £30 per document, plus courier fees or postage.</p>

      {{ govukTable({
  caption: "Courier costs",
  captionClasses: "govuk-table__caption--m",
  firstCellIsHeader: false,
  head: [
    {
      text: "Country",
		classes: "govuk-!-width-three-quarters"
    },
    {
      text: "Price",
	  classes: "govuk-!-width-one-quarter"
    }
  ],
  rows: [
    [
      {
        text: "UK (including British Forces Post Office)"
      },
      {
        text: "£5 per 1.5kg"
      }
    ],
    [
      {
        text: "European countries (not including Albania, Armenia, Azerbaijan, Belarus,
        Bosnia and Herzegovina, Georgia, Liechtenstein, Kazakhstan, Moldova,
        Montenegro, North Macedonia, Russia, Serbia, Turkey and Ukraine)"
      },
      {
        text: "£17.50 per 1.5kg"
      }
    ],
    [
      {
        text: "Rest of the world"
      },
      {
        text: "£22.50 per 1.5kg"
      }
    ]
  ]
}) }}

  <h3 class="govuk-heading-m">
    If you do not want to pay courier fees
  </h3>
  <p class="govuk-body">Your documents will be returned by courier but if you’re in the UK you can
    have them returned by post. You must include an A4-sized envelope with the
    return address written on it. Attach enough UK postage stamps to cover the
    return postage.
    </p>

    <h2 class="govuk-heading-l">
      What you’ll need
    </h2>
   <p class="govuk-body">To use the service you’ll need:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>the documents you want to legalise</li>
      <li>a credit or debit card for payment</li>
      <li>the address you want your documents returned to</li>
      <li>access to a printer</li>
    </ul>

    <p class="govuk-body">If you do not enter any information for more than 30
      minutes, your application will time out and you’ll have to start again.</p>
<div class="govuk-!-margin-bottom-6">
      {{ govukButton({
        text: "Start now",
        href: "/application/1-choose-a-service",
        isStartButton: true
      }) }}
</div>

  <h2 class="govuk-heading-l">
	How long it takes
  </h2>
<p class="govuk-body">It currently takes about 10 working days to process your
  documents, plus courier or postage time. This is because of coronavirus (COVID-19).</p>

<p class="govuk-body">Call the Legalisation Office if your application is urgent.</p>

<h2 class="govuk-heading-l">
  Premium same-day business service
</h2>

<p class="govuk-body">The premium same-day business service is for registered
  businesses only and costs £75 per document.</p>

<p class="govuk-body">Documents must be taken to and collected from the premium
  office in central London.<p>

<p class="govuk-body">You can only:</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>take documents to the premium office between 9am and 1pm</li>
    <li>collect documents from the premium office between 2pm and 4pm</li>
  </ul>

<p class="govuk-body">This is because of coronavirus (COVID-19).</p>

<p class="govuk-body">You need an account to use the premium service. <a href="/application/sign-in">Sign in</a> if
  you’re an existing user or <a href="#">create an account</a>.</p>

  <h2 class="govuk-heading-l">
    Contact the Legalisation Office
  </h2>


<p class="govuk-body">Contact the Legalisation Office if you need an update on
  an application or if you have a general enquiry.</p>


  <div class="contact">
  <p><strong>Legalisation Office</strong>
  <br>
  <a href="mailto:legalisationenquiries@fcdo.gov.uk">legalisationenquiries@fcdo.gov.uk</a> <br>
  Telephone: 03700 002 244<br>
  Monday to Friday, 10am to 4pm<br>
  <a href="#">Find out about call charges</a>
  </p>
  </div>

    </div>
  	<as class="govuk-grid-column-one-third-from-desktop">

		<aside class="app-related-items" role="complementary">
			<h2 class="govuk-heading-s" id="subsection-title">
				Related content
			</h2>
			<nav role="navigation" aria-labelledby="subsection-title">
				<ul class="govuk-list govuk-!-font-size-16">
					<li><a class="govuk-link" href="/verify">Verify an Apostille</a></li>

					  </ul>
				  </nav>

		</aside>
    </as>

	  </div>
  </div>
{% endblock %}
