{% extends "layout.html" %}

{% block pageTitle %}
  Get document legalised
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="https://www.gov.uk">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="#">Births, deaths, marriages and care</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="#">Certificates, register offices, changes of name or gender</a>
      </li>
    </ol>
  </div>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

      <h1 class="govuk-heading-xl">
		  Get your document legalised
      </h1>
	</div>
  </div>

<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds-from-desktop">
      <p class="govuk-body">You can get certain official UK documents ‘legalised’ by asking the Legalisation Office
        to confirm that the signature, stamp or seal is from a UK public official.</p>

      <p class="govuk-body">You might need to do this if an official in another country has asked you to provide a
          UK document and they’ve said it must be legalised.</p>

      <p class="govuk-body">The Legalisation Office will check the document, including whether the signature, stamp
        or seal is genuine. They’ll legalise the document by attaching a stamped official
        certificate (an ‘Apostille’) to it.</p>

      <p class="govuk-body">You cannot get documents issued outside the UK legalised using this service - get them
        legalised in the country they were issued.</p>


<div class="govuk-!-margin-top-6">
      {{ govukButton({
        text: "Start now",
        href: "/application/1-who-are-you",
        isStartButton: true
      }) }}
</div>

<h2 class="govuk-heading-l">
  Contact the Legalisation Office
</h2>


<p class="govuk-body">Contact the Legalisation Office if you need an update on
  an application or if you have a general enquiry.</p>

  <div class="contact">
  <p><strong>Legalisation Office</strong>
  <br>
  <a href="mailto:legalisationenquiries@fcdo.gov.uk">legalisationenquiries@fcdo.gov.uk</a> <br>
  Telephone: 03700 002 244<br>
  Monday to Friday, 10am to 4pm<br>
  <a href="#">Find out about call charges</a>
  </p>
  </div>

    </div>
  	<as class="govuk-grid-column-one-third-from-desktop">

		<aside class="app-related-items" role="complementary">
			<h2 class="govuk-heading-s" id="subsection-title">
				Related content
			</h2>
			<nav role="navigation" aria-labelledby="subsection-title">
				<ul class="govuk-list govuk-!-font-size-16">
					<li><a class="govuk-link" href="/verify">Verify an Apostille</a></li>

					  </ul>
				  </nav>

		</aside>
    </as>

	  </div>
  </div>
{% endblock %}
