{% extends "layout.html" %}

{% block pageTitle %}
This page hasn't been created
{% endblock %}

{% block beforeContent %}

<div class="flex-space-between">
  <a href="javascript:history.back()" class="govuk-back-link">Back</a>
</div>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters-from-desktop">

  <h1 class="govuk-heading-l">
    This page hasn't been created
  </h1>

    <p class="govuk-body">
      The purpose of this prototype is to test the <strong>e-Apostille workflow</strong> for user research and therfore does not contain pages for other services.
    </p>
  <p class="govuk-body">
    <a class="govuk-link" href="javascript:history.back()">Please go back to the previous page you were on</a>
    </p>
	  </div>
  </div>
</div>


{% endblock %}
