{% extends "layout.html" %}

{% block pageTitle %}
  Personal details
{% endblock %}

{% block beforeContent %}
{% include "includes/my-account-nav.html" %}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters-from-desktop">

  <h1 class="govuk-heading-xl">
    Personal details
  </h1>

  {{ govukSummaryList({
  rows: [
    {
      key: {
        text: "First name"
      },
      value: {
        text: "Sam"
      },
      actions: {
        items: [
          {
            href: "#",
            text: "Change",
            visuallyHiddenText: "first name"
          }
        ]
      }
    },
    {
      key: {
        text: "Last name"
      },
      value: {
        text: "Bloggs-Smyth"
      },
      actions: {
        items: [
          {
            href: "#",
            text: "Change",
            visuallyHiddenText: "date of birth"
          }
        ]
      }
    },
    {
      key: {
        text: "Telephone"
      },
      value: {
        text: "07812 345678"
      },
      actions: {
        items: [
          {
            href: "#",
            text: "Change",
            visuallyHiddenText: "telephone"
          }
        ]
      }
    },
    {
      key: {
        text: "Mobile number"
      },
      value: {
        text: "Not specified"
      },
      actions: {
        items: [
          {
            href: "#",
            text: "Change",
            visuallyHiddenText: "mobile number"
          }
        ]
      }
    },
    {
      key: {
        text: "Feedback consent"
      },
      value: {
        text: "No"
      },
      actions: {
        items: [
          {
            href: "#",
            text: "Change",
            visuallyHiddenText: "feedback consent"
          }
        ]
      }
    },
    {
      key: {
        text: "Email"
      },
      value: {
        text: "youremail@example.com"
      },
      actions: {
        items: [
          {
            href: "#",
            text: "Change",
            visuallyHiddenText: "email"
          }
        ]
      }
    },
    {
      key: {
        text: "Password"
      },
      value: {
        text: "**********"
      },
      actions: {
        items: [
          {
            href: "#",
            text: "Change",
            visuallyHiddenText: "password"
          }
        ]
      }
    }
  ]
}) }}

{{ govukDetails({
  summaryText: "How to close your account",
  html: 'If you want to close your account please contact us at <a href="#">legalisationenquiries@fcdo.gov.uk</a>'
}) }}

    <p class="govuk-body">If you represent a business you can <a href="#">register for the legalisation premium service</a>.</p>

  </div>
</div>
{% endblock %}
