{% extends "layout.html" %}

{% block pageTitle %}
  Choose a service
{% endblock %}

{% block beforeContent %}
{{ govukBackLink({
text: "Back",
href: "/application"
}) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">
      Choose a service
    </h1>

    <h2 class="govuk-heading-l">
      eApostille service
    </h2>
      <p class="govuk-body">This is a new service to issue an electronic apostille (eApostille). </p>
      <ul class="govuk-list govuk-list--bullet">
        <li>Documents must be PDFs certified and digitally signed by a notary</li>
        <li>£30 per document</li>
        <li>An electronic apostille will be available to download from your account within 2 working days</li>
      </ul>
	  {{ govukWarningText({
	  text: "The eApostille is for use in countries party to the Hague Convention of 5 October 1961 - check before you use this service as we cannot issue refunds if the apostille is not accepted.",
	  iconFallbackText: "Warning"
	  }) }}
      <p class="govuk-body">To use the eApostille service you need to <a href="#">create an
          account</a>. If you have an account then <a href="/application/sign-in">sign in.</a></p>

      {{ govukButton({
        text: "Start an eApostille application",
        classes: "govuk-button--secondary",
        href: "/application/sign-in"
      }) }}

    <h2 class="govuk-heading-l">
      Standard service
    </h2>
      <ul class="govuk-list govuk-list--bullet">
        <li>Due to the impact of coronavirus (COVID-19) processing
          and return delivery times may be longer than usual.</li>
        <li>£30 per document</li>
        <li>Documents sent and returned by post</li>
      </ul>
      <p class="govuk-body">If you're a regular customer you can <a href="#">create an
          account</a> to speed up your applications (optional).</p>

      {{ govukButton({
        text: "Start a standard application",
        classes: "govuk-button--secondary"
      }) }}

    <h2 class="govuk-heading-l">
            Premium service
    </h2>
    <ul class="govuk-list govuk-list--bullet">
      <li>For businesses only</li>
      <li>£75 per document</li>
      <li>London drop-off and collection only</li>
      <li>The counter opens on working days, 9am to 1pm for drop-off and 2pm to 4pm for collection</li>
      <li>Same-day service for applications received before 1pm</li>
    </ul>
    <p class="govuk-body">To use the premium service you need to <a href="#">create an account.</a>
      You'll be asked to provide company details.</p>

      {{ govukButton({
        text: "Start a premium application",
        classes: "govuk-button--secondary"
      }) }}


      <div class="contact">
        <h2 class="govuk-heading-l">
                Contact us
        </h2>
        <p class="govuk-body">
      <a href="mailto:legalisationenquiries@fcdo.gov.uk">legalisationenquiries@fcdo.gov.uk</a> <br>
      Telephone: 03700 00 22 44<br>
      Monday to Friday, 10am to 4pm<br>
      <a href="#">Find out about call charges</a>
      </p>
      </div>

  </div>
</div>

{% endblock %}
