{% extends "layout.html" %}

{% block pageTitle %}
  Check if documents can be legalised
{% endblock %}

{% block beforeContent %}
  <div class="flex-space-between">
    {{ govukBackLink({
      text: "Back",
      href: "1-choose-a-service"
    }) }}
  </div>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Check if documents can be legalised
      </h1>

      <p class="govuk-body">
        You can get a UK document with the signature, stamp or seal of a UK public
        official legalised. You may need to send your document in a particular
        format eg an original not a photocopy.
      </p>
      <p class="govuk-body">
        Use this tool to check if your document can be legalised.
      </p>
      {{ govukButton({
          text: "Check your documents"
      }) }}
      <p class="govuk-body">
        If you know your documents can be legalised you can
        <a href="#" class="govuk-link">skip this document check</a>.
      </p>
    </div>
  </div>

{% endblock %}
