{% extends "layout.html" %}

{% block pageTitle %}
  Your details
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "/application/sign-in"
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters-from-desktop">

  <h1 class="govuk-heading-xl">
    Your details
  </h1>

  <p class="govuk-body">We will use your details to notify you of the progress of your application.</p>
	  {{ govukSummaryList({
	  classes: 'govuk-!-margin-bottom-9',
	  rows: [
		  {
			  key: {
			  text: "First name"
			  },
			  value: {
			  text: 'Joesephine'
			  }
		  },
		  {
			  key: {
			  text: "Last name"
			  },
			  value: {
			  text: 'Bloggs-Smyth'
			  }
		  },
		  {
			  key: {
			  text: "Telephone number"
			  },
			  value: {
			  text: '07812 345678'
			  }
		  },
		  {
			  key: {
			  text: "Mobile number"
			  },
			  value: {
			  text: '07812 345678'
			  }
		  },
		  {
			  key: {
			  text: "Email"
			  },
			  value: {
			  text: "youremail@example.com"
			  }
		  }
	  ]
  })
}}


  <p class="govuk-body">You can update them in <a href="/application/2-your-account">your account</a>.</p>

  {{ govukButton({
      text: "Continue",
      href: "/application/5-documents-certified-check"
  }) }}

  </div>

</div>

{% endblock %}
