
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        eApostille prototypes
      </h1>
      <p>
        Prototypes for user testing
      </p>
      <ul class="govuk-list govuk-list--bullet">
        <li>
          <a href="/application">Applying for an eApostille</a>
        </li>
        <li>
          <a href="/verify">Verifying an eApostille</a>
        </li>
      </ul>
    </div>
  </div>

{% endblock %}
