
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        e-Apostille prototypes
      </h1>
      <p>
        Prototypes for user testing
      </p>
      <ul class="govuk-list govuk-list--bullet">
        <li>
          <a href="/application">Applying for an e-Apostille</a>
          <details class="govuk-details" data-module="govuk-details">
            <summary class="govuk-details__summary">
              <span class="govuk-details__summary-text">
                List of pages
              </span>
            </summary>
            <div class="govuk-details__text">
              <a href="/application">Start now - Applying for an e-Apostille</a><br>
              <a href="/application/1-choose-a-service">Choose a service (pre-sign in)</a><br>
              <a href="/application/3a-before-you-apply">Suitablity 1 of 5 - before you apply</a><br>
              <a href="/application/4-check-documents">Suitablity 2 of 5 - check your documents</a><br>
              <a href="/application/4a-check-acceptance">Suitablity 3 of 5 - check accepted</a><br>
              <a href="/application/5-check-notarised-and-signed">Suitablity 4 of 5 - has been certified and digitally signed</a><br>
              <a href="/application/5a-how-to-complete-app">Suitablity 5 of 5 - How to complete an application</a><br>
              <a href="/application/7-upload-documents">e-Apostille application - upload PDFs</a><br>
              <a href="/application/8-user-reference">e-Apostille application - your reference</a><br>
              <a href="/application/9-check-your-answers">e-Apostille application - check your answers</a><br>
              <a href="/application/10-pay-for-application">e-Apostille application - Pay - Card details</a><br>
              <a href="/application/10-pay-for-application-2">e-Apostille application - Pay - Confirm payment</a><br>
              <a href="/application/12-success">e-Apostille application - successful application</a><br>
              <a href="/application/2-your-account">Your applications (signed in) - 3 application</a><br>
              <a href="/application/3-which-service">Choose a service (signed in)</a><br>
              <a href="/application/14-your-account-from-completed-app">Your applications (signed in) - 4 application (3 completed, 1 in progress)</a><br>
              <a href="/application/13-your-account-from-email">Your applications (signed in) - 4 application (4 completed)</a><br>
              <a href="/application/A-D-21-0205-0343-5BEC-completed">View application - 4 PDFs - completed, 1 rejected</a><br>
              <a href="/application/A-D-21-0212-1234-ABCD">View application - 1 PDF - in progress</a><br>
              <a href="/application/A-D-21-0212-1234-ABCD-completed">View application - 1 PDF - completed</a><br>
              <a href="/application/A-D-21-0212-5678-EFDH">View application - 2 PDF - expired</a>
            </div>
          </details>
        </li>
        <li>
          <a href="/verify">Verifying an e-Apostille</a>
          <details class="govuk-details" data-module="govuk-details">
            <summary class="govuk-details__summary">
              <span class="govuk-details__summary-text">
                List of pages
              </span>
            </summary>
            <div class="govuk-details__text">
              <a href="/verify">Start now - Verify an Apostille</a><br>
              <a href="/verify/VerifyApostille">Enter details</a><br>
              <a href="/verify/EApostilleVerified">Verified - e-Apostille</a><br>
              <a href="/verify/PaperVerified">Verified - paper</a>
            </div>
          </details>
        </li>
      </ul>
    </div>
  </div>

{% endblock %}
